openapi: 3.2.0
info:
  title: Canvas LMS REST Authentications Log API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Authentications Log
  x-resource: authentications_log
  externalDocs:
    url: https://canvas.instructure.com/doc/api/authentications_log.html
paths:
  /v1/audit/authentication/logins/{login_id}:
    get:
      tags:
      - Authentications Log
      operationId: query_by_login
      summary: Query by login
      description: List authentication events for a given login.
      parameters:
      - name: login_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: start_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: 'The beginning of the time range from which you want events.

          Events are stored for one year.'
      - name: end_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: The end of the time range from which you want events.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/authentications_log.html
  /v1/audit/authentication/accounts/{account_id}:
    get:
      tags:
      - Authentications Log
      operationId: query_by_account
      summary: Query by account
      description: List authentication events for a given account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: start_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: 'The beginning of the time range from which you want events.

          Events are stored for one year.'
      - name: end_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: The end of the time range from which you want events.
      - name: user_id
        in: query
        schema:
          type: string
        required: false
        description: Only include events for this user. Defaults to all users in the account.
      - name: auth_provider_id
        in: query
        schema:
          type: string
        required: false
        description: 'Only include events for logins tied to this authentication provider.

          Accepts an authentication provider id, or the string "unknown" to

          match logins that have no explicit provider.

          Defaults to all providers in the account.'
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/authentications_log.html
  /v1/audit/authentication/users/{user_id}:
    get:
      tags:
      - Authentications Log
      operationId: query_by_user
      summary: Query by user
      description: List authentication events for a given user.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: start_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: 'The beginning of the time range from which you want events.

          Events are stored for one year.'
      - name: end_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: The end of the time range from which you want events.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/authentications_log.html
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
