openapi: 3.2.0
info:
  title: Canvas LMS REST Content Migrations API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Content Migrations
  x-resource: content_migrations
  externalDocs:
    url: https://canvas.instructure.com/doc/api/content_migrations.html
paths:
  /v1/accounts/{account_id}/content_migrations/{content_migration_id}/migration_issues:
    get:
      tags:
      - Content Migrations
      operationId: list_migration_issues_accounts
      summary: List migration issues
      description: Returns paginated migration issues
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/courses/{course_id}/content_migrations/{content_migration_id}/migration_issues:
    get:
      tags:
      - Content Migrations
      operationId: list_migration_issues_courses
      summary: List migration issues
      description: Returns paginated migration issues
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/groups/{group_id}/content_migrations/{content_migration_id}/migration_issues:
    get:
      tags:
      - Content Migrations
      operationId: list_migration_issues_groups
      summary: List migration issues
      description: Returns paginated migration issues
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/users/{user_id}/content_migrations/{content_migration_id}/migration_issues:
    get:
      tags:
      - Content Migrations
      operationId: list_migration_issues_users
      summary: List migration issues
      description: Returns paginated migration issues
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/accounts/{account_id}/content_migrations/{content_migration_id}/migration_issues/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_migration_issue_accounts
      summary: Get a migration issue
      description: Returns data on an individual migration issue
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_migration_issue_accounts
      summary: Update a migration issue
      description: Update the workflow_state of a migration issue
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/courses/{course_id}/content_migrations/{content_migration_id}/migration_issues/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_migration_issue_courses
      summary: Get a migration issue
      description: Returns data on an individual migration issue
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_migration_issue_courses
      summary: Update a migration issue
      description: Update the workflow_state of a migration issue
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/groups/{group_id}/content_migrations/{content_migration_id}/migration_issues/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_migration_issue_groups
      summary: Get a migration issue
      description: Returns data on an individual migration issue
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_migration_issue_groups
      summary: Update a migration issue
      description: Update the workflow_state of a migration issue
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/users/{user_id}/content_migrations/{content_migration_id}/migration_issues/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_migration_issue_users
      summary: Get a migration issue
      description: Returns data on an individual migration issue
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_migration_issue_users
      summary: Update a migration issue
      description: Update the workflow_state of a migration issue
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: content_migration_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  enum:
                  - active
                  - resolved
                  description: Set the workflow_state of the issue.
              required:
              - workflow_state
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationIssue'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/accounts/{account_id}/content_migrations:
    get:
      tags:
      - Content Migrations
      operationId: list_content_migrations_accounts
      summary: List content migrations
      description: Returns paginated content migrations
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    post:
      tags:
      - Content Migrations
      operationId: create_content_migration_accounts
      summary: Create a content migration
      description: 'Create a content migration. If the migration requires a file to be uploaded

        the actual processing of the file will start once the file upload process is completed.

        File uploading works as described in the {file:file.file_uploads.html File Upload Documentation}

        except that the values are set on a *pre_attachment* sub-hash.


        For migrations that don''t require a file to be uploaded, like course copy, the

        processing will begin as soon as the migration is created.


        You can use the {api:ProgressController#show Progress API} to track the

        progress of the migration. The migration''s progress is linked to with the

        _progress_url_ value.


        The two general workflows are:


        If no file upload is needed:


        1. POST to create

        2. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        For file uploading:


        1. POST to create with file info in *pre_attachment*

        2. Do {file:file.file_uploads.html file upload processing} using the data in the *pre_attachment* data

        3. {api:ContentMigrationsController#show GET} the ContentMigration

        4. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        (required if doing .zip file upload)'
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/courses/{course_id}/content_migrations:
    get:
      tags:
      - Content Migrations
      operationId: list_content_migrations_courses
      summary: List content migrations
      description: Returns paginated content migrations
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    post:
      tags:
      - Content Migrations
      operationId: create_content_migration_courses
      summary: Create a content migration
      description: 'Create a content migration. If the migration requires a file to be uploaded

        the actual processing of the file will start once the file upload process is completed.

        File uploading works as described in the {file:file.file_uploads.html File Upload Documentation}

        except that the values are set on a *pre_attachment* sub-hash.


        For migrations that don''t require a file to be uploaded, like course copy, the

        processing will begin as soon as the migration is created.


        You can use the {api:ProgressController#show Progress API} to track the

        progress of the migration. The migration''s progress is linked to with the

        _progress_url_ value.


        The two general workflows are:


        If no file upload is needed:


        1. POST to create

        2. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        For file uploading:


        1. POST to create with file info in *pre_attachment*

        2. Do {file:file.file_uploads.html file upload processing} using the data in the *pre_attachment* data

        3. {api:ContentMigrationsController#show GET} the ContentMigration

        4. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        (required if doing .zip file upload)'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/groups/{group_id}/content_migrations:
    get:
      tags:
      - Content Migrations
      operationId: list_content_migrations_groups
      summary: List content migrations
      description: Returns paginated content migrations
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    post:
      tags:
      - Content Migrations
      operationId: create_content_migration_groups
      summary: Create a content migration
      description: 'Create a content migration. If the migration requires a file to be uploaded

        the actual processing of the file will start once the file upload process is completed.

        File uploading works as described in the {file:file.file_uploads.html File Upload Documentation}

        except that the values are set on a *pre_attachment* sub-hash.


        For migrations that don''t require a file to be uploaded, like course copy, the

        processing will begin as soon as the migration is created.


        You can use the {api:ProgressController#show Progress API} to track the

        progress of the migration. The migration''s progress is linked to with the

        _progress_url_ value.


        The two general workflows are:


        If no file upload is needed:


        1. POST to create

        2. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        For file uploading:


        1. POST to create with file info in *pre_attachment*

        2. Do {file:file.file_uploads.html file upload processing} using the data in the *pre_attachment* data

        3. {api:ContentMigrationsController#show GET} the ContentMigration

        4. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        (required if doing .zip file upload)'
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/users/{user_id}/content_migrations:
    get:
      tags:
      - Content Migrations
      operationId: list_content_migrations_users
      summary: List content migrations
      description: Returns paginated content migrations
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    post:
      tags:
      - Content Migrations
      operationId: create_content_migration_users
      summary: Create a content migration
      description: 'Create a content migration. If the migration requires a file to be uploaded

        the actual processing of the file will start once the file upload process is completed.

        File uploading works as described in the {file:file.file_uploads.html File Upload Documentation}

        except that the values are set on a *pre_attachment* sub-hash.


        For migrations that don''t require a file to be uploaded, like course copy, the

        processing will begin as soon as the migration is created.


        You can use the {api:ProgressController#show Progress API} to track the

        progress of the migration. The migration''s progress is linked to with the

        _progress_url_ value.


        The two general workflows are:


        If no file upload is needed:


        1. POST to create

        2. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        For file uploading:


        1. POST to create with file info in *pre_attachment*

        2. Do {file:file.file_uploads.html file upload processing} using the data in the *pre_attachment* data

        3. {api:ContentMigrationsController#show GET} the ContentMigration

        4. Use the {api:ProgressController#show Progress} specified in _progress_url_ to monitor progress


        (required if doing .zip file upload)'
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                migration_type:
                  type: string
                  description: 'The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter'
                pre_attachment[name]:
                  type: string
                  description: 'Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file.file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.'
                pre_attachment[*]:
                  type: string
                  description: 'Other file upload properties, See {file:file.file_uploads.html File Upload

                    Documentation}'
                settings[file_url]:
                  type: string
                  description: A URL to download the file from. Must not require authentication.
                settings[content_export_id]:
                  type: string
                  description: 'The id of a ContentExport to import. This allows you to import content previously exported from Canvas

                    without needing to download and re-upload it.'
                settings[source_course_id]:
                  type: string
                  description: 'The course to copy from for a course copy migration. (required if doing

                    course copy)'
                settings[folder_id]:
                  type: string
                  description: The folder to unzip the .zip file into for a zip_file_import.
                settings[overwrite_quizzes]:
                  type: boolean
                  description: 'Whether to overwrite quizzes with the same identifiers between content

                    packages.'
                settings[question_bank_id]:
                  type: integer
                  format: int64
                  description: 'The existing question bank ID to import questions into if not specified in

                    the content package.'
                settings[question_bank_name]:
                  type: string
                  description: 'The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.'
                settings[insert_into_module_id]:
                  type: integer
                  format: int64
                  description: 'The id of a module in the target course. This will add all imported items

                    (that can be added to a module) to the given module.'
                settings[insert_into_module_type]:
                  type: string
                  enum:
                  - assignment
                  - discussion_topic
                  - file
                  - page
                  - quiz
                  description: 'If provided (and +insert_into_module_id+ is supplied),

                    only add objects of the specified type to the module.'
                settings[insert_into_module_position]:
                  type: integer
                  format: int64
                  description: 'The (1-based) position to insert the imported items into the course

                    (if +insert_into_module_id+ is supplied). If this parameter

                    is omitted, items will be added to the end of the module.'
                settings[move_to_assignment_group_id]:
                  type: integer
                  format: int64
                  description: 'The id of an assignment group in the target course. If provided, all

                    imported assignments will be moved to the given assignment group.'
                settings[importer_skips]:
                  type: array
                  items:
                    type: string
                    enum:
                    - all_course_settings
                    - visibility_settings
                  description: Set of importers to skip, even if otherwise selected by migration settings.
                settings[import_blueprint_settings]:
                  type: boolean
                  description: 'Import the "use as blueprint course" setting as well as the list of locked items

                    from the source course or package. The destination course must not be associated

                    with an existing blueprint course and cannot have any student or observer enrollments.'
                date_shift_options[shift_dates]:
                  type: boolean
                  description: Whether to shift dates in the copied course
                date_shift_options[old_start_date]:
                  type: string
                  format: date
                  description: The original start date of the source content/course
                date_shift_options[old_end_date]:
                  type: string
                  format: date
                  description: The original end date of the source content/course
                date_shift_options[new_start_date]:
                  type: string
                  format: date
                  description: The new start date for the content/course
                date_shift_options[new_end_date]:
                  type: string
                  format: date
                  description: The new end date for the source content/course
                date_shift_options[day_substitutions][X]:
                  type: integer
                  format: int64
                  description: 'Move anything scheduled for day ''X'' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)'
                date_shift_options[remove_dates]:
                  type: boolean
                  description: 'Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.'
                selective_import:
                  type: boolean
                  description: 'If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'For +course_copy_importer+ migrations, this parameter allows you to select

                    the objects to copy without using the +selective_import+ argument and

                    +waiting_for_select+ state as is required for uploaded imports (though that

                    workflow is also supported for course copy migrations).

                    The keys are object types like ''files'', ''folders'', ''pages'', etc. The value

                    for each key is a list of object ids. An id can be an integer or a string.

                    Multiple object types can be selected in the same call.'
              required:
              - migration_type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/accounts/{account_id}/content_migrations/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_content_migration_accounts
      summary: Get a content migration
      description: Returns data on an individual content migration
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_content_migration_accounts
      summary: Update a content migration
      description: 'Update a content migration. Takes same arguments as {api:ContentMigrationsController#create create} except that you

        can''t change the migration type. However, changing most settings after the

        migration process has started will not do anything. Generally updating the

        content migration will be used when there is a file upload problem, or when

        importing content selectively. If the first upload has a problem you can

        supply new _pre_attachment_ values to start the process again.'
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/courses/{course_id}/content_migrations/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_content_migration_courses
      summary: Get a content migration
      description: Returns data on an individual content migration
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_content_migration_courses
      summary: Update a content migration
      description: 'Update a content migration. Takes same arguments as {api:ContentMigrationsController#create create} except that you

        can''t change the migration type. However, changing most settings after the

        migration process has started will not do anything. Generally updating the

        content migration will be used when there is a file upload problem, or when

        importing content selectively. If the first upload has a problem you can

        supply new _pre_attachment_ values to start the process again.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/groups/{group_id}/content_migrations/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_content_migration_groups
      summary: Get a content migration
      description: Returns data on an individual content migration
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_content_migration_groups
      summary: Update a content migration
      description: 'Update a content migration. Takes same arguments as {api:ContentMigrationsController#create create} except that you

        can''t change the migration type. However, changing most settings after the

        migration process has started will not do anything. Generally updating the

        content migration will be used when there is a file upload problem, or when

        importing content selectively. If the first upload has a problem you can

        supply new _pre_attachment_ values to start the process again.'
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
  /v1/users/{user_id}/content_migrations/{id}:
    get:
      tags:
      - Content Migrations
      operationId: get_content_migration_users
      summary: Get a content migration
      description: Returns data on an individual content migration
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentMigration'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_migrations.html
    put:
      tags:
      - Content Migrations
      operationId: update_content_migration_users
      summary: Update a content migration
      description: 'Update a content migration. Takes same arguments as {api:ContentMigrationsController#create create} except that you

        can''t change the migration type. However, changing most settings after the

[...]
