openapi: 3.2.0
info:
  title: Canvas LMS REST Grading Period Sets API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Grading Period Sets
  x-resource: grading_period_sets
  externalDocs:
    url: https://canvas.instructure.com/doc/api/grading_period_sets.html
paths:
  /v1/accounts/{account_id}/grading_period_sets:
    get:
      tags:
      - Grading Period Sets
      operationId: list_grading_period_sets
      summary: List grading period sets
      description: Returns the paginated list of grading period sets
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/grading_period_sets.html
    post:
      tags:
      - Grading Period Sets
      operationId: create_grading_period_set
      summary: Create a grading period set
      description: Create and return a new grading period set
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollment_term_ids:
                  type: array
                  items:
                    type: array
                    items: {}
                  description: A list of associated term ids for the grading period set
                grading_period_set[title]:
                  type: string
                  description: The title of the grading period set
                grading_period_set[weighted]:
                  type: boolean
                  description: A boolean to determine whether the grading periods in the set are weighted
                grading_period_set[display_totals_for_all_grading_periods]:
                  type: boolean
                  description: A boolean to determine whether the totals for all grading periods in the set are displayed
              required:
              - grading_period_set[title]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                enrollment_term_ids:
                  type: array
                  items:
                    type: array
                    items: {}
                  description: A list of associated term ids for the grading period set
                grading_period_set[title]:
                  type: string
                  description: The title of the grading period set
                grading_period_set[weighted]:
                  type: boolean
                  description: A boolean to determine whether the grading periods in the set are weighted
                grading_period_set[display_totals_for_all_grading_periods]:
                  type: boolean
                  description: A boolean to determine whether the totals for all grading periods in the set are displayed
              required:
              - grading_period_set[title]
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/grading_period_sets.html
  /v1/accounts/{account_id}/grading_period_sets/{id}:
    patch:
      tags:
      - Grading Period Sets
      operationId: update_grading_period_set
      summary: Update a grading period set
      description: 'Update an existing grading period set


        204 No Content response code is returned if the update was

        successful.'
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollment_term_ids:
                  type: array
                  items:
                    type: array
                    items: {}
                  description: A list of associated term ids for the grading period set
                grading_period_set[title]:
                  type: array
                  items:
                    type: string
                  description: The title of the grading period set
                grading_period_set[weighted]:
                  type: array
                  items:
                    type: boolean
                  description: A boolean to determine whether the grading periods in the set are weighted
                grading_period_set[display_totals_for_all_grading_periods]:
                  type: array
                  items:
                    type: boolean
                  description: A boolean to determine whether the totals for all grading periods in the set are displayed
              required:
              - grading_period_set[title]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                enrollment_term_ids:
                  type: array
                  items:
                    type: array
                    items: {}
                  description: A list of associated term ids for the grading period set
                grading_period_set[title]:
                  type: array
                  items:
                    type: string
                  description: The title of the grading period set
                grading_period_set[weighted]:
                  type: array
                  items:
                    type: boolean
                  description: A boolean to determine whether the grading periods in the set are weighted
                grading_period_set[display_totals_for_all_grading_periods]:
                  type: array
                  items:
                    type: boolean
                  description: A boolean to determine whether the totals for all grading periods in the set are displayed
              required:
              - grading_period_set[title]
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/grading_period_sets.html
    delete:
      tags:
      - Grading Period Sets
      operationId: delete_grading_period_set
      summary: Delete a grading period set
      description: '204 No Content response code is returned if the deletion was

        successful.'
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/grading_period_sets.html
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
