openapi: 3.2.0
info:
  title: Canvas LMS REST Late Policy API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Late Policy
  x-resource: late_policy
  externalDocs:
    url: https://canvas.instructure.com/doc/api/late_policy.html
paths:
  /v1/courses/{id}/late_policy:
    get:
      tags:
      - Late Policy
      operationId: get_late_policy
      summary: Get a late policy
      description: Returns the late policy for a course.
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/late_policy.html
    post:
      tags:
      - Late Policy
      operationId: create_late_policy
      summary: Create a late policy
      description: 'Create a late policy. If the course already has a late policy, a

        bad_request is returned since there can only be one late policy

        per course.'
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                late_policy[missing_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the missing submission deduction late policy.
                late_policy[missing_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct from a missing submission.
                late_policy[late_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the late submission deduction late policy.
                late_policy[late_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct per the late submission interval.
                late_policy[late_submission_interval]:
                  type: string
                  description: The interval for late policies.
                late_policy[late_submission_minimum_percent_enabled]:
                  type: boolean
                  description: Whether to enable the late submission minimum percent for a late policy.
                late_policy[late_submission_minimum_percent]:
                  type: number
                  description: The minimum grade a submissions can have in percentage points.
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                late_policy[missing_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the missing submission deduction late policy.
                late_policy[missing_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct from a missing submission.
                late_policy[late_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the late submission deduction late policy.
                late_policy[late_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct per the late submission interval.
                late_policy[late_submission_interval]:
                  type: string
                  description: The interval for late policies.
                late_policy[late_submission_minimum_percent_enabled]:
                  type: boolean
                  description: Whether to enable the late submission minimum percent for a late policy.
                late_policy[late_submission_minimum_percent]:
                  type: number
                  description: The minimum grade a submissions can have in percentage points.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/late_policy.html
    patch:
      tags:
      - Late Policy
      operationId: patch_late_policy
      summary: Patch a late policy
      description: Patch a late policy. No body is returned upon success.
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                late_policy[missing_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the missing submission deduction late policy.
                late_policy[missing_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct from a missing submission.
                late_policy[late_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the late submission deduction late policy.
                late_policy[late_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct per the late submission interval.
                late_policy[late_submission_interval]:
                  type: string
                  description: The interval for late policies.
                late_policy[late_submission_minimum_percent_enabled]:
                  type: boolean
                  description: Whether to enable the late submission minimum percent for a late policy.
                late_policy[late_submission_minimum_percent]:
                  type: number
                  description: The minimum grade a submissions can have in percentage points.
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                late_policy[missing_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the missing submission deduction late policy.
                late_policy[missing_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct from a missing submission.
                late_policy[late_submission_deduction_enabled]:
                  type: boolean
                  description: Whether to enable the late submission deduction late policy.
                late_policy[late_submission_deduction]:
                  type: number
                  description: How many percentage points to deduct per the late submission interval.
                late_policy[late_submission_interval]:
                  type: string
                  description: The interval for late policies.
                late_policy[late_submission_minimum_percent_enabled]:
                  type: boolean
                  description: Whether to enable the late submission minimum percent for a late policy.
                late_policy[late_submission_minimum_percent]:
                  type: number
                  description: The minimum grade a submissions can have in percentage points.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/late_policy.html
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
