openapi: 3.2.0
info:
  title: Canvas LMS REST Pages API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Pages
  x-resource: pages
  externalDocs:
    url: https://canvas.instructure.com/doc/api/pages.html
paths:
  /v1/courses/{course_id}/front_page:
    get:
      tags:
      - Pages
      operationId: show_front_page_courses
      summary: Show front page
      description: Retrieve the content of the front page
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    put:
      tags:
      - Pages
      operationId: update_create_front_page_courses
      summary: Update/create front page
      description: Update the title or contents of the front page
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/groups/{group_id}/front_page:
    get:
      tags:
      - Pages
      operationId: show_front_page_groups
      summary: Show front page
      description: Retrieve the content of the front page
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    put:
      tags:
      - Pages
      operationId: update_create_front_page_groups
      summary: Update/create front page
      description: Update the title or contents of the front page
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/courses/{course_id}/pages/{url_or_id}/duplicate:
    post:
      tags:
      - Pages
      operationId: duplicate_page
      summary: Duplicate page
      description: Duplicate a wiki page
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/courses/{course_id}/pages:
    get:
      tags:
      - Pages
      operationId: list_pages_courses
      summary: List pages
      description: A paginated list of the wiki pages associated with a course or group
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - title
          - created_at
          - updated_at
        required: false
        description: Sort results by this field.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
        required: false
        description: The sorting order. Defaults to 'asc'.
      - name: search_term
        in: query
        schema:
          type: string
        required: false
        description: The partial title of the pages to match and return.
      - name: published
        in: query
        schema:
          type: boolean
        required: false
        description: 'If true, include only published paqes. If false, exclude published

          pages. If not present, do not filter on published status.'
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - body
        required: false
        description: '- "body": Optionally include the page body with each Page.

          If this is a block_editor page, returns the block_editor_attributes.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    post:
      tags:
      - Pages
      operationId: create_page_courses
      summary: Create page
      description: Create a new wiki page
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: The title for the new page.
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    supplied, the page will be unpublished and +wiki_page[published]+ will be ignored.'
              required:
              - wiki_page[title]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: The title for the new page.
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    supplied, the page will be unpublished and +wiki_page[published]+ will be ignored.'
              required:
              - wiki_page[title]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/groups/{group_id}/pages:
    get:
      tags:
      - Pages
      operationId: list_pages_groups
      summary: List pages
      description: A paginated list of the wiki pages associated with a course or group
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - title
          - created_at
          - updated_at
        required: false
        description: Sort results by this field.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
        required: false
        description: The sorting order. Defaults to 'asc'.
      - name: search_term
        in: query
        schema:
          type: string
        required: false
        description: The partial title of the pages to match and return.
      - name: published
        in: query
        schema:
          type: boolean
        required: false
        description: 'If true, include only published paqes. If false, exclude published

          pages. If not present, do not filter on published status.'
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - body
        required: false
        description: '- "body": Optionally include the page body with each Page.

          If this is a block_editor page, returns the block_editor_attributes.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    post:
      tags:
      - Pages
      operationId: create_page_groups
      summary: Create page
      description: Create a new wiki page
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: The title for the new page.
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    supplied, the page will be unpublished and +wiki_page[published]+ will be ignored.'
              required:
              - wiki_page[title]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: The title for the new page.
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    supplied, the page will be unpublished and +wiki_page[published]+ will be ignored.'
              required:
              - wiki_page[title]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/courses/{course_id}/pages/{url_or_id}:
    get:
      tags:
      - Pages
      operationId: show_page_courses
      summary: Show page
      description: Retrieve the content of a wiki page
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    put:
      tags:
      - Pages
      operationId: update_create_page_courses
      summary: Update/create page
      description: 'Update the title or contents of a wiki page


        NOTE: You cannot specify the ID when creating a page. If you pass a numeric value

        as the page identifier and that does not represent a page ID that already

        exists, it will be interpreted as a URL.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    set and the page is already published, it will be unpublished.'
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    set and the page is already published, it will be unpublished.'
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    delete:
      tags:
      - Pages
      operationId: delete_page_courses
      summary: Delete page
      description: Delete a wiki page
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/groups/{group_id}/pages/{url_or_id}:
    get:
      tags:
      - Pages
      operationId: show_page_groups
      summary: Show page
      description: Retrieve the content of a wiki page
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    put:
      tags:
      - Pages
      operationId: update_create_page_groups
      summary: Update/create page
      description: 'Update the title or contents of a wiki page


        NOTE: You cannot specify the ID when creating a page. If you pass a numeric value

        as the page identifier and that does not represent a page ID that already

        exists, it will be interpreted as a URL.'
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    set and the page is already published, it will be unpublished.'
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                wiki_page[title]:
                  type: string
                  description: 'The title for the new page. NOTE: changing a page''s title will change its

                    url. The updated url will be returned in the result.'
                wiki_page[body]:
                  type: string
                  description: The content for the new page.
                wiki_page[editing_roles]:
                  type: string
                  enum:
                  - teachers
                  - students
                  - members
                  - public
                  description: 'Which user roles are allowed to edit this page. Any combination

                    of these roles is allowed (separated by commas).


                    "teachers":: Allows editing by teachers in the course.

                    "students":: Allows editing by students in the course.

                    "members":: For group wikis, allows editing by members of the group.

                    "public":: Allows editing by any user.'
                wiki_page[notify_of_update]:
                  type: boolean
                  description: Whether participants should be notified when this page changes.
                wiki_page[published]:
                  type: boolean
                  description: Whether the page is published (true) or draft state (false).
                wiki_page[publish_at]:
                  type: string
                  format: date-time
                  description: 'Schedule a future date/time to publish the page. This will have no effect unless the

                    "Scheduled Page Publication" feature is enabled in the account. If a future date is

                    set and the page is already published, it will be unpublished.'
                wiki_page[front_page]:
                  type: boolean
                  description: Set an unhidden page as the front page (if true)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    delete:
      tags:
      - Pages
      operationId: delete_page_groups
      summary: Delete page
      description: Delete a wiki page
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/courses/{course_id}/pages/{url_or_id}/revisions:
    get:
      tags:
      - Pages
      operationId: list_revisions_courses
      summary: List revisions
      description: A paginated list of the revisions of a page. Callers must have update rights on the page in order to see page history.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/groups/{group_id}/pages/{url_or_id}/revisions:
    get:
      tags:
      - Pages
      operationId: list_revisions_groups
      summary: List revisions
      description: A paginated list of the revisions of a page. Callers must have update rights on the page in order to see page history.
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/courses/{course_id}/pages/{url_or_id}/revisions/latest:
    get:
      tags:
      - Pages
      operationId: show_revision_courses_latest
      summary: Show revision
      description: 'Retrieve the metadata and optionally content of a revision of the page.

        Note that retrieving historic versions of pages requires edit rights.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: summary
        in: query
        schema:
          type: boolean
        required: false
        description: If set, exclude page content from results
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/groups/{group_id}/pages/{url_or_id}/revisions/latest:
    get:
      tags:
      - Pages
      operationId: show_revision_groups_latest
      summary: Show revision
      description: 'Retrieve the metadata and optionally content of a revision of the page.

        Note that retrieving historic versions of pages requires edit rights.'
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: summary
        in: query
        schema:
          type: boolean
        required: false
        description: If set, exclude page content from results
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/courses/{course_id}/pages/{url_or_id}/revisions/{revision_id}:
    get:
      tags:
      - Pages
      operationId: show_revision_courses_revision_id
      summary: Show revision
      description: 'Retrieve the metadata and optionally content of a revision of the page.

        Note that retrieving historic versions of pages requires edit rights.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: revision_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: summary
        in: query
        schema:
          type: boolean
        required: false
        description: If set, exclude page content from results
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    post:
      tags:
      - Pages
      operationId: revert_to_revision_courses
      summary: Revert to revision
      description: Revert a page to a prior revision.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: revision_id
        in: path
        schema:
          type: integer
          format: int64
        required: true
        description: 'The revision to revert to (use the

          {api:WikiPagesApiController#revisions List Revisions API} to see

          available revisions)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
  /v1/groups/{group_id}/pages/{url_or_id}/revisions/{revision_id}:
    get:
      tags:
      - Pages
      operationId: show_revision_groups_revision_id
      summary: Show revision
      description: 'Retrieve the metadata and optionally content of a revision of the page.

        Note that retrieving historic versions of pages requires edit rights.'
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: revision_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: summary
        in: query
        schema:
          type: boolean
        required: false
        description: If set, exclude page content from results
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
    post:
      tags:
      - Pages
      operationId: revert_to_revision_groups
      summary: Revert to revision
      description: Revert a page to a prior revision.
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: url_or_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: revision_id
        in: path
        schema:
          type: integer
          format: int64
        required: true
        description: 'The revision to revert to (use the

          {api:WikiPagesApiController#revisions List Revisions API} to see

          available revisions)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRevision'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/pages.html
components:
  schemas:
    Page:
      type: object
      properties:
        page_id:
          type: integer
          example: 1
          description: the ID of the page
        url:
          type: string
          example: my-page-title
          description: the unique locator for the page
        title:
          type: string
          example: My Page Title
          description: the title of the page
        created_at:
          type: string
          format: date-time
          example: '2012-08-06T16:46:33-06:00'
          description: the creation date for the page
        updated_at:
          type: string
          format: date-time
          example: '2012-08-08T14:25:20-06:00'
          description: the date the page was last updated
        hide_from_students:
          type: boolean
          example: false
          description: '(DEPRECATED) whether this page is hidden from students (note: this is always reflected as the inverse of the published value)'
        editing_roles:
          type: string
          example: teachers,students
          description: roles allowed to edit the page; comma-separated list comprising a combination of 'teachers', 'students', 'members', and/or 'public' if not supplied, course defaults are used
        last_edited_by:
          type: string
          description: the User who last edited the page (this may not be present if the page was imported from another system)
        body:
          type: string
          example: <p>Page Content</p>
          description: the page content, in HTML (present when requesting a single page; optionally included when listing pages)
        published:
          type: boolean
          example: true
          description: whether the page is published (true) or draft state (false).
        publish_at:
          type: string
          format: date-time
          example: '2022-09-01T00:00:00'
          description: scheduled publication date for this page
        front_page:
          type: boolean
          example: false
          description: whether this page is the front page for the wiki
        locked_for_user:
          type: boolean
          example: false
          description: Whether or not this is locked for the user.
        lock_info:
          type: string
          description: (Optional) Information for the user about the lock. Present when locked_for_user is true.
        lock_explanation:
          type: string
          example: This page is locked until September 1 at 12:00am
          description: (Optional) An explanation of why this is locked for the user. Present when locked_for_user is true.
        editor:
          type: string
          example: rce
          description: The editor used to create and edit this page. May be one of 'rce' or 'block_editor'.
        block_editor_attributes:
          type: object
          additionalProperties: true
          example:
            id: 278
            version: '0.2'
            blocks: '{...block json here...}'
          description: The block editor attributes for this page. (optionally included, and only if this is a block editor created page)
    PageRevision:
      type: object
      properties:
        revision_id:
          type: integer
          example: 7
          description: an identifier for this revision of the page
        updated_at:
          type: string
          format: date-time
          example: '2012-08-07T11:23:58-06:00'
          description: the time when this revision was saved
        latest:
          type: boolean
          example: true
          description: whether this is the latest revision or not
        edited_by:
          type: string
          description: the User who saved this revision, if applicable (this may not be present if the page was imported from another system)
        url:
          type: string
          example: old-page-title
          description: the following fields are not included in the index action and may be omitted from the show action via summary=1 the historic url of the page
        title:
          type: string
          example: Old Page Title
          description: the historic page title
        body:
          type: string
          example: <p>Old Page Content</p>
          description: the historic page contents
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
