openapi: 3.1.0
info:
  title: Canvas LMS REST API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: |-
    The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.

    PROVENANCE: this document is a mechanical conversion of the 144 first-party Swagger 1.2 resource documents Instructure publishes at https://canvas.instructure.com/doc/api/api-docs.json and https://canvas.instructure.com/doc/api/<resource>.json. Every path, operation, operationId (Canvas "nickname"), parameter, model and response message comes from those documents verbatim; the verbatim harvest is archived in openapi/_original/swagger-1.2/. Nothing here was authored by API Evangelist except the OpenAPI 3.1 scaffolding, the servers block (from the Swagger basePath) and the securitySchemes block (from https://canvas.instructure.com/doc/api/file.oauth.html).
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Access Tokens
  x-resource: access_tokens
  externalDocs:
    url: https://canvas.instructure.com/doc/api/access_tokens.html
- name: Accessibility Course Scans
  x-resource: accessibility_course_scans
  externalDocs:
    url: https://canvas.instructure.com/doc/api/accessibility_course_scans.html
- name: Accessibility Course Statistics
  x-resource: accessibility_course_statistics
  externalDocs:
    url: https://canvas.instructure.com/doc/api/accessibility_course_statistics.html
- name: Account Calendars
  x-resource: account_calendars
  externalDocs:
    url: https://canvas.instructure.com/doc/api/account_calendars.html
- name: Account Domain Lookups
  x-resource: account_domain_lookups
  externalDocs:
    url: https://canvas.instructure.com/doc/api/account_domain_lookups.html
- name: Account Notifications
  x-resource: account_notifications
  externalDocs:
    url: https://canvas.instructure.com/doc/api/account_notifications.html
- name: Account Reports
  x-resource: account_reports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/account_reports.html
- name: Accounts
  x-resource: accounts
  externalDocs:
    url: https://canvas.instructure.com/doc/api/accounts.html
- name: Accounts (Lti)
  x-resource: accounts_(lti)
  externalDocs:
    url: https://canvas.instructure.com/doc/api/accounts_(lti).html
- name: Admins
  x-resource: admins
  externalDocs:
    url: https://canvas.instructure.com/doc/api/admins.html
- name: Ai Conversations
  x-resource: ai_conversations
  externalDocs:
    url: https://canvas.instructure.com/doc/api/ai_conversations.html
- name: Ai Experiences
  x-resource: ai_experiences
  externalDocs:
    url: https://canvas.instructure.com/doc/api/ai_experiences.html
- name: Analytics
  x-resource: analytics
  externalDocs:
    url: https://canvas.instructure.com/doc/api/analytics.html
- name: Announcement External Feeds
  x-resource: announcement_external_feeds
  externalDocs:
    url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
- name: Announcements
  x-resource: announcements
  externalDocs:
    url: https://canvas.instructure.com/doc/api/announcements.html
- name: Api Token Scopes
  x-resource: api_token_scopes
  externalDocs:
    url: https://canvas.instructure.com/doc/api/api_token_scopes.html
- name: Appointment Groups
  x-resource: appointment_groups
  externalDocs:
    url: https://canvas.instructure.com/doc/api/appointment_groups.html
- name: Assessment Question Banks
  x-resource: assessment_question_banks
  externalDocs:
    url: https://canvas.instructure.com/doc/api/assessment_question_banks.html
- name: Asset Processor
  x-resource: asset_processor
  externalDocs:
    url: https://canvas.instructure.com/doc/api/asset_processor.html
- name: Assignment Extensions
  x-resource: assignment_extensions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/assignment_extensions.html
- name: Assignment Groups
  x-resource: assignment_groups
  externalDocs:
    url: https://canvas.instructure.com/doc/api/assignment_groups.html
- name: Assignments
  x-resource: assignments
  externalDocs:
    url: https://canvas.instructure.com/doc/api/assignments.html
- name: Authentication Providers
  x-resource: authentication_providers
  externalDocs:
    url: https://canvas.instructure.com/doc/api/authentication_providers.html
- name: Authentications Log
  x-resource: authentications_log
  externalDocs:
    url: https://canvas.instructure.com/doc/api/authentications_log.html
- name: Blackout Dates
  x-resource: blackout_dates
  externalDocs:
    url: https://canvas.instructure.com/doc/api/blackout_dates.html
- name: Block Editor Template
  x-resource: block_editor_template
  externalDocs:
    url: https://canvas.instructure.com/doc/api/block_editor_template.html
- name: Blueprint Courses
  x-resource: blueprint_courses
  externalDocs:
    url: https://canvas.instructure.com/doc/api/blueprint_courses.html
- name: Bookmarks
  x-resource: bookmarks
  externalDocs:
    url: https://canvas.instructure.com/doc/api/bookmarks.html
- name: Brand Configs
  x-resource: brand_configs
  externalDocs:
    url: https://canvas.instructure.com/doc/api/brand_configs.html
- name: Calendar Events
  x-resource: calendar_events
  externalDocs:
    url: https://canvas.instructure.com/doc/api/calendar_events.html
- name: Canvas Career Experiences
  x-resource: canvas_career_experiences
  externalDocs:
    url: https://canvas.instructure.com/doc/api/canvas_career_experiences.html
- name: Canvas Career User Context
  x-resource: canvas_career_user_context
  externalDocs:
    url: https://canvas.instructure.com/doc/api/canvas_career_user_context.html
- name: Collaborations
  x-resource: collaborations
  externalDocs:
    url: https://canvas.instructure.com/doc/api/collaborations.html
- name: Comm Messages
  x-resource: comm_messages
  externalDocs:
    url: https://canvas.instructure.com/doc/api/comm_messages.html
- name: Communication Channels
  x-resource: communication_channels
  externalDocs:
    url: https://canvas.instructure.com/doc/api/communication_channels.html
- name: Conferences
  x-resource: conferences
  externalDocs:
    url: https://canvas.instructure.com/doc/api/conferences.html
- name: Content Exports
  x-resource: content_exports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/content_exports.html
- name: Content Migrations
  x-resource: content_migrations
  externalDocs:
    url: https://canvas.instructure.com/doc/api/content_migrations.html
- name: Content Security Policy Settings
  x-resource: content_security_policy_settings
  externalDocs:
    url: https://canvas.instructure.com/doc/api/content_security_policy_settings.html
- name: Content Shares
  x-resource: content_shares
  externalDocs:
    url: https://canvas.instructure.com/doc/api/content_shares.html
- name: Conversations
  x-resource: conversations
  externalDocs:
    url: https://canvas.instructure.com/doc/api/conversations.html
- name: Course Audit Log
  x-resource: course_audit_log
  externalDocs:
    url: https://canvas.instructure.com/doc/api/course_audit_log.html
- name: Course Pace
  x-resource: course_pace
  externalDocs:
    url: https://canvas.instructure.com/doc/api/course_pace.html
- name: Course Quiz Extensions
  x-resource: course_quiz_extensions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/course_quiz_extensions.html
- name: Course Reports
  x-resource: course_reports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/course_reports.html
- name: Courses
  x-resource: courses
  externalDocs:
    url: https://canvas.instructure.com/doc/api/courses.html
- name: Custom Gradebook Columns
  x-resource: custom_gradebook_columns
  externalDocs:
    url: https://canvas.instructure.com/doc/api/custom_gradebook_columns.html
- name: Developer Key Account Bindings
  x-resource: developer_key_account_bindings
  externalDocs:
    url: https://canvas.instructure.com/doc/api/developer_key_account_bindings.html
- name: Developer Keys
  x-resource: developer_keys
  externalDocs:
    url: https://canvas.instructure.com/doc/api/developer_keys.html
- name: Discovery Pages
  x-resource: discovery_pages
  externalDocs:
    url: https://canvas.instructure.com/doc/api/discovery_pages.html
- name: Discussion Topics
  x-resource: discussion_topics
  externalDocs:
    url: https://canvas.instructure.com/doc/api/discussion_topics.html
- name: E Portfolios
  x-resource: e_portfolios
  externalDocs:
    url: https://canvas.instructure.com/doc/api/e_portfolios.html
- name: E Pub Exports
  x-resource: e_pub_exports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/e_pub_exports.html
- name: Enrollment Terms
  x-resource: enrollment_terms
  externalDocs:
    url: https://canvas.instructure.com/doc/api/enrollment_terms.html
- name: Enrollments
  x-resource: enrollments
  externalDocs:
    url: https://canvas.instructure.com/doc/api/enrollments.html
- name: Error Reports
  x-resource: error_reports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/error_reports.html
- name: External Tools
  x-resource: external_tools
  externalDocs:
    url: https://canvas.instructure.com/doc/api/external_tools.html
- name: Favorites
  x-resource: favorites
  externalDocs:
    url: https://canvas.instructure.com/doc/api/favorites.html
- name: Feature Flags
  x-resource: feature_flags
  externalDocs:
    url: https://canvas.instructure.com/doc/api/feature_flags.html
- name: Files
  x-resource: files
  externalDocs:
    url: https://canvas.instructure.com/doc/api/files.html
- name: Grade Change Log
  x-resource: grade_change_log
  externalDocs:
    url: https://canvas.instructure.com/doc/api/grade_change_log.html
- name: Gradebook History
  x-resource: gradebook_history
  externalDocs:
    url: https://canvas.instructure.com/doc/api/gradebook_history.html
- name: Grading Period Sets
  x-resource: grading_period_sets
  externalDocs:
    url: https://canvas.instructure.com/doc/api/grading_period_sets.html
- name: Grading Periods
  x-resource: grading_periods
  externalDocs:
    url: https://canvas.instructure.com/doc/api/grading_periods.html
- name: Grading Standards
  x-resource: grading_standards
  externalDocs:
    url: https://canvas.instructure.com/doc/api/grading_standards.html
- name: Graph Ql
  x-resource: graph_ql
  externalDocs:
    url: https://canvas.instructure.com/doc/api/graph_ql.html
- name: Group Categories
  x-resource: group_categories
  externalDocs:
    url: https://canvas.instructure.com/doc/api/group_categories.html
- name: Groups
  x-resource: groups
  externalDocs:
    url: https://canvas.instructure.com/doc/api/groups.html
- name: History
  x-resource: history
  externalDocs:
    url: https://canvas.instructure.com/doc/api/history.html
- name: Inst Access Tokens
  x-resource: inst_access_tokens
  externalDocs:
    url: https://canvas.instructure.com/doc/api/inst_access_tokens.html
- name: Jw Ts
  x-resource: jw_ts
  externalDocs:
    url: https://canvas.instructure.com/doc/api/jw_ts.html
- name: Late Policy
  x-resource: late_policy
  externalDocs:
    url: https://canvas.instructure.com/doc/api/late_policy.html
- name: Learning Object Dates
  x-resource: learning_object_dates
  externalDocs:
    url: https://canvas.instructure.com/doc/api/learning_object_dates.html
- name: Line Items
  x-resource: line_items
  externalDocs:
    url: https://canvas.instructure.com/doc/api/line_items.html
- name: Live Assessments
  x-resource: live_assessments
  externalDocs:
    url: https://canvas.instructure.com/doc/api/live_assessments.html
- name: Logins
  x-resource: logins
  externalDocs:
    url: https://canvas.instructure.com/doc/api/logins.html
- name: Lti Context Controls
  x-resource: lti_context_controls
  externalDocs:
    url: https://canvas.instructure.com/doc/api/lti_context_controls.html
- name: Lti Launch Definitions
  x-resource: lti_launch_definitions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/lti_launch_definitions.html
- name: Lti Registrations
  x-resource: lti_registrations
  externalDocs:
    url: https://canvas.instructure.com/doc/api/lti_registrations.html
- name: Lti Resource Links
  x-resource: lti_resource_links
  externalDocs:
    url: https://canvas.instructure.com/doc/api/lti_resource_links.html
- name: Media Objects
  x-resource: media_objects
  externalDocs:
    url: https://canvas.instructure.com/doc/api/media_objects.html
- name: Moderated Grading
  x-resource: moderated_grading
  externalDocs:
    url: https://canvas.instructure.com/doc/api/moderated_grading.html
- name: Modules
  x-resource: modules
  externalDocs:
    url: https://canvas.instructure.com/doc/api/modules.html
- name: Names And Role
  x-resource: names_and_role
  externalDocs:
    url: https://canvas.instructure.com/doc/api/names_and_role.html
- name: New Quiz Items
  x-resource: new_quiz_items
  externalDocs:
    url: https://canvas.instructure.com/doc/api/new_quiz_items.html
- name: New Quizzes
  x-resource: new_quizzes
  externalDocs:
    url: https://canvas.instructure.com/doc/api/new_quizzes.html
- name: New Quizzes Accommodations
  x-resource: new_quizzes_accommodations
  externalDocs:
    url: https://canvas.instructure.com/doc/api/new_quizzes_accommodations.html
- name: New Quizzes Reports
  x-resource: new_quizzes_reports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/new_quizzes_reports.html
- name: Notice Handlers
  x-resource: notice_handlers
  externalDocs:
    url: https://canvas.instructure.com/doc/api/notice_handlers.html
- name: Notification Preferences
  x-resource: notification_preferences
  externalDocs:
    url: https://canvas.instructure.com/doc/api/notification_preferences.html
- name: Originality Reports
  x-resource: originality_reports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/originality_reports.html
- name: Outcome Groups
  x-resource: outcome_groups
  externalDocs:
    url: https://canvas.instructure.com/doc/api/outcome_groups.html
- name: Outcome Imports
  x-resource: outcome_imports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/outcome_imports.html
- name: Outcome Results
  x-resource: outcome_results
  externalDocs:
    url: https://canvas.instructure.com/doc/api/outcome_results.html
- name: Outcomes
  x-resource: outcomes
  externalDocs:
    url: https://canvas.instructure.com/doc/api/outcomes.html
- name: Pages
  x-resource: pages
  externalDocs:
    url: https://canvas.instructure.com/doc/api/pages.html
- name: Peer Reviews
  x-resource: peer_reviews
  externalDocs:
    url: https://canvas.instructure.com/doc/api/peer_reviews.html
- name: Plagiarism Detection Platform Assignments
  x-resource: plagiarism_detection_platform_assignments
  externalDocs:
    url: https://canvas.instructure.com/doc/api/plagiarism_detection_platform_assignments.html
- name: Plagiarism Detection Platform Users
  x-resource: plagiarism_detection_platform_users
  externalDocs:
    url: https://canvas.instructure.com/doc/api/plagiarism_detection_platform_users.html
- name: Plagiarism Detection Submissions
  x-resource: plagiarism_detection_submissions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/plagiarism_detection_submissions.html
- name: Planner
  x-resource: planner
  externalDocs:
    url: https://canvas.instructure.com/doc/api/planner.html
- name: Poll Choices
  x-resource: poll_choices
  externalDocs:
    url: https://canvas.instructure.com/doc/api/poll_choices.html
- name: Poll Sessions
  x-resource: poll_sessions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/poll_sessions.html
- name: Poll Submissions
  x-resource: poll_submissions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/poll_submissions.html
- name: Polls
  x-resource: polls
  externalDocs:
    url: https://canvas.instructure.com/doc/api/polls.html
- name: Portfolio Notifications
  x-resource: portfolio_notifications
  externalDocs:
    url: https://canvas.instructure.com/doc/api/portfolio_notifications.html
- name: Proficiency Ratings
  x-resource: proficiency_ratings
  externalDocs:
    url: https://canvas.instructure.com/doc/api/proficiency_ratings.html
- name: Progress
  x-resource: progress
  externalDocs:
    url: https://canvas.instructure.com/doc/api/progress.html
- name: Public Jwk
  x-resource: public_jwk
  externalDocs:
    url: https://canvas.instructure.com/doc/api/public_jwk.html
- name: Quiz Assignment Overrides
  x-resource: quiz_assignment_overrides
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_assignment_overrides.html
- name: Quiz Extensions
  x-resource: quiz_extensions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_extensions.html
- name: Quiz Ip Filters
  x-resource: quiz_ip_filters
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_ip_filters.html
- name: Quiz Question Groups
  x-resource: quiz_question_groups
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
- name: Quiz Questions
  x-resource: quiz_questions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_questions.html
- name: Quiz Reports
  x-resource: quiz_reports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_reports.html
- name: Quiz Statistics
  x-resource: quiz_statistics
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_statistics.html
- name: Quiz Submission Events
  x-resource: quiz_submission_events
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_submission_events.html
- name: Quiz Submission Files
  x-resource: quiz_submission_files
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_submission_files.html
- name: Quiz Submission Questions
  x-resource: quiz_submission_questions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_submission_questions.html
- name: Quiz Submission User List
  x-resource: quiz_submission_user_list
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_submission_user_list.html
- name: Quiz Submissions
  x-resource: quiz_submissions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_submissions.html
- name: Quizzes
  x-resource: quizzes
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quizzes.html
- name: Result
  x-resource: result
  externalDocs:
    url: https://canvas.instructure.com/doc/api/result.html
- name: Roles
  x-resource: roles
  externalDocs:
    url: https://canvas.instructure.com/doc/api/roles.html
- name: Rubrics
  x-resource: rubrics
  externalDocs:
    url: https://canvas.instructure.com/doc/api/rubrics.html
- name: Sandboxes
  x-resource: sandboxes
  externalDocs:
    url: https://canvas.instructure.com/doc/api/sandboxes.html
- name: Score
  x-resource: score
  externalDocs:
    url: https://canvas.instructure.com/doc/api/score.html
- name: Search
  x-resource: search
  externalDocs:
    url: https://canvas.instructure.com/doc/api/search.html
- name: Sections
  x-resource: sections
  externalDocs:
    url: https://canvas.instructure.com/doc/api/sections.html
- name: Services
  x-resource: services
  externalDocs:
    url: https://canvas.instructure.com/doc/api/services.html
- name: Shared Brand Configs
  x-resource: shared_brand_configs
  externalDocs:
    url: https://canvas.instructure.com/doc/api/shared_brand_configs.html
- name: Sis Import Errors
  x-resource: sis_import_errors
  externalDocs:
    url: https://canvas.instructure.com/doc/api/sis_import_errors.html
- name: Sis Imports
  x-resource: sis_imports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/sis_imports.html
- name: Sis Integration
  x-resource: sis_integration
  externalDocs:
    url: https://canvas.instructure.com/doc/api/sis_integration.html
- name: Smart Search
  x-resource: smart_search
  externalDocs:
    url: https://canvas.instructure.com/doc/api/smart_search.html
- name: Study Assist
  x-resource: study_assist
  externalDocs:
    url: https://canvas.instructure.com/doc/api/study_assist.html
- name: Submission Comments
  x-resource: submission_comments
  externalDocs:
    url: https://canvas.instructure.com/doc/api/submission_comments.html
- name: Submissions
  x-resource: submissions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/submissions.html
- name: Tabs
  x-resource: tabs
  externalDocs:
    url: https://canvas.instructure.com/doc/api/tabs.html
- name: Temporary Enrollment Pairings
  x-resource: temporary_enrollment_pairings
  externalDocs:
    url: https://canvas.instructure.com/doc/api/temporary_enrollment_pairings.html
- name: User Observees
  x-resource: user_observees
  externalDocs:
    url: https://canvas.instructure.com/doc/api/user_observees.html
- name: Users
  x-resource: users
  externalDocs:
    url: https://canvas.instructure.com/doc/api/users.html
- name: Webhooks Subscriptions For Plagiarism Platform
  x-resource: webhooks_subscriptions_for_plagiarism_platform
  externalDocs:
    url: https://canvas.instructure.com/doc/api/webhooks_subscriptions_for_plagiarism_platform.html
- name: What If Grades
  x-resource: what_if_grades
  externalDocs:
    url: https://canvas.instructure.com/doc/api/what_if_grades.html
paths:
  /v1/users/{user_id}/user_generated_tokens:
    get:
      tags:
      - Access Tokens
      operationId: list_access_tokens_for_user
      summary: List access tokens for a user
      description: |-
        Returns a list of manually generated access tokens for the specified user.
        Note that the actual token values are only returned when the token is first created.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: per_page
        in: query
        schema:
          type: integer
          format: int64
        required: false
        description: The number of results to return per page. Defaults to 10. Maximum of 100.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/access_tokens.html
  /v1/users/{user_id}/tokens/{id}:
    get:
      tags:
      - Access Tokens
      operationId: show_access_token
      summary: Show an access token
      description: The ID can be the actual database ID of the token, or the 'token_hint' value.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/access_tokens.html
    put:
      tags:
      - Access Tokens
      operationId: update_access_token
      summary: Update an access token
      description: |-
        Update an existing access token.

        The ID can be the actual database ID of the token, or the 'token_hint' value.

        Regenerating an expired token requires a new expiration date.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id001
              type: object
              properties:
                token[purpose]:
                  type: string
                  description: The purpose of the token.
                token[expires_at]:
                  type: string
                  format: date-time
                  description: The time at which the token will expire.
                token[scopes]:
                  type: array
                  items:
                    type: array
                    items: {}
                  description: The scopes to associate with the token.
                token[regenerate]:
                  type: boolean
                  description: Regenerate the actual token.
          application/x-www-form-urlencoded:
            schema: *id001
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/access_tokens.html
    delete:
      tags:
      - Access Tokens
      operationId: delete_access_token
      summary: Delete an access token
      description: The ID can be the actual database ID of the token, or the 'token_hint' value.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/access_tokens.html
  /v1/users/{user_id}/tokens:
    post:
      tags:
      - Access Tokens
      operationId: create_access_token
      summary: Create an access token
      description: |-
        Create a new access token for the specified user.
        If the user is not the current user, the token will be created as "pending",
        and must be activated by the user before it can be used.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id002
              type: object
              properties:
                token[purpose]:
                  type: string
                  description: The purpose of the token.
                token[expires_at]:
                  type: string
                  format: date-time
                  description: The time at which the token will expire.
                token[scopes]:
                  type: array
                  items:
                    type: array
                    items: {}
                  description: |-
                    The scopes to associate with the token.
                    Ignored if the default developer key does not have the "enable scopes" option enabled.
                    In such cases, the token will inherit the user's permissions instead.
              required:
              - token[purpose]
          application/x-www-form-urlencoded:
            schema: *id002
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/access_tokens.html
  /v1/users/{user_id}/educator_accessibility_course_scan:
    post:
      tags:
      - Accessibility Course Scans
      operationId: trigger_accessibility_course_scan
      summary: Trigger accessibility course scan
      description: |-
        Queues a background job that scans all a11y-enabled courses where the
        user has an active teacher or designer enrollment. Idempotent — if a
        scan is already queued or running, the existing Progress is returned.

        Requires the educator_dashboard feature flag on the root account and
        a11y_checker_account_statistics on site admin.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: |-
          The ID of the user, or "self" for the current user.
          The requesting user may only trigger a scan for themselves.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                x-canvas-declared-type: Progress
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accessibility_course_scans.html
  /v1/users/{user_id}/educator_accessibility_course_statistics:
    get:
      tags:
      - Accessibility Course Statistics
      operationId: list_accessibility_course_statistics
      summary: List accessibility course statistics
      description: |-
        Returns per-course accessibility issue statistics for the current user's
        active teacher and designer courses. Only courses where the accessibility
        checker is enabled and whose workflow state is neither completed nor deleted
        are included. Only statistic records with workflow_state "active" are returned.

        Requires the educator_dashboard feature flag to be enabled on the root
        account, and a11y_checker_account_statistics on site admin plus a11y_checker
        on the account (i.e. a11y_checker_account_statistics? must be true).
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: |-
          The ID of the user, or "self" for the current user.
          The requesting user may only retrieve their own statistics.
      - name: enrollment_term_id
        in: query
        schema:
          type: string
        required: false
        description: |-
          When present, only include courses that belong to the given enrollment
          term(s). Accepts a single term id or an array
          (enrollment_term_id[]=1&enrollment_term_id[]=2), and each value may be a
          term id or SIS term id. Returns 404 if any given term does not exist in
          this account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessibilityCourseStatistic'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accessibility_course_statistics.html
  /v1/users/{user_id}/educator_accessibility_course_terms:
    get:
      tags:
      - Accessibility Course Statistics
      operationId: list_accessibility_course_statistic_terms
      summary: List accessibility course statistic terms
      description: |-
        Returns the distinct enrollment terms that the current user's active teacher
        and designer courses belong to -- the same courses reported by the List
        accessibility course statistics endpoint. Use this to populate a term filter
        for that endpoint. There is no "all terms" entry; "all terms" is represented
        by omitting the enrollment_term_id filter.

        Requires the same account settings and feature flags as the statistics
        endpoint.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: |-
          The ID of the user, or "self" for the current user.
          The requesting user may only retrieve their own terms.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  x-canvas-declared-type: EnrollmentTerm
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accessibility_course_statistics.html
  /v1/account_calendars:
    get:
      tags:
      - Account Calendars
      operationId: list_available_account_calendars
      summary: List available account calendars
      description: |-
        Returns a paginated list of account calendars available to the current user.
        Includes visible account calendars where the user has an account association.
      parameters:
      - name: search_term
        in: query
        schema:
          type: string
        required: false
        description: |-
          When included, searches available account calendars for the term. Returns matching
          results. Term must be at least 2 characters.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  x-canvas-declared-type: '{ "account_calendars": AccountCalendar, "total_results": "integer"}'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_calendars.html
  /v1/account_calendars/{account_id}:
    get:
      tags:
      - Account Calendars
      operationId: get_single_account_calendar
      summary: Get a single account calendar
      description: Get details about a specific account calendar.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCalendar'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_calendars.html
    put:
      tags:
      - Account Calendars
      operationId: update_calendar
      summary: Update a calendar
      description: |-
        Set an account calendar's visibility and auto_subscribe values. Requires the
        `manage_account_calendar_visibility` permission on the account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id003
              type: object
              properties:
                visible:
                  type: boolean
                  description: |-
                    Allow administrators with `manage_account_calendar_events` permission
                    to create events on this calendar, and allow users to view this
                    calendar and its events.
                auto_subscribe:
                  type: boolean
                  description: |-
                    When true, users will automatically see events from this account in their
                    calendar, even if they haven't manually added that calendar.
          application/x-www-form-urlencoded:
            schema: *id003
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCalendar'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_calendars.html
  /v1/accounts/{account_id}/account_calendars:
    put:
      tags:
      - Account Calendars
      operationId: update_several_calendars
      summary: Update several calendars
      description: |-
        Set visibility and/or auto_subscribe on many calendars simultaneously. Requires
        the `manage_account_calendar_visibility` permission on the account.

        Accepts a JSON array of objects containing 2-3 keys each: `id`
        (the account's id, required), `visible` (a boolean indicating whether
        the account calendar is visible), and `auto_subscribe` (a boolean indicating
        whether users should see these events in their calendar without manually
        subscribing).

        Returns the count of updated accounts.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_calendars.html
    get:
      tags:
      - Account Calendars
      operationId: list_all_account_calendars
      summary: List all account calendars
      description: |-
        Returns a paginated list of account calendars for the provided account and
        its first level of sub-accounts. Includes hidden calendars in the response.
        Requires the `manage_account_calendar_visibility` permission.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: search_term
        in: query
        schema:
          type: string
        required: false
        description: |-
          When included, searches all descendent accounts of provided account for the
          term. Returns matching results. Term must be at least 2 characters. Can be
          combined with a filter value.
      - name: filter
        in: query
        schema:
          type: string
          enum:
          - visible
          - hidden
        required: false
        description: |-
          When included, only returns calendars that are either visible or hidden. Can
          be combined with a search term.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountCalendar'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_calendars.html
  /v1/accounts/{account_id}/visible_calendars_count:
    get:
      tags:
      - Account Calendars
      operationId: count_of_all_visible_account_calendars
      summary: Count of all visible account calendars
      description: Returns the number of visible account calendars.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                x-canvas-declared-type: '{ "count": "integer" }'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_calendars.html
  /v1/accounts/search:
    get:
      tags:
      - Account Domain Lookups
      operationId: search_account_domains
      summary: Search account domains
      description: |-
        Returns a list of up to 5 matching account domains

        Partial match on name / domain are supported
      parameters:
      - name: name
        in: query
        schema:
          type: string
        required: false
        description: campus name
      - name: domain
        in: query
        schema:
          type: string
        required: false
        description: no description
      - name: latitude
        in: query
        schema:
          type: number
        required: false
        description: no description
      - name: longitude
        in: query
        schema:
          type: number
        required: false
        description: no description
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_domain_lookups.html
  /v1/accounts/{account_id}/account_notifications:
    get:
      tags:
      - Account Notifications
      operationId: index_of_active_global_notification_for_user
      summary: Index of active global notification for the user
      description: |-
        Returns a list of all global notifications in the account for the current user
        Any notifications that have been closed by the user will not be returned, unless
        a include_past parameter is passed in as true. Admins can request all global
        notifications for the account by passing in an include_all parameter.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: include_past
        in: query
        schema:
          type: boolean
        required: false
        description: Include past and dismissed global announcements.
      - name: include_all
        in: query
        schema:
          type: boolean
        required: false
        description: Include all global announcements, regardless of user's role or availability date. Only available to account admins.
      - name: show_is_closed
        in: query
        schema:
          type: boolean
        required: false
        description: Include a flag for each notification indicating whether it has been read by the user.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountNotification'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_notifications.html
    post:
      tags:
      - Account Notifications
      operationId: create_global_notification
      summary: Create a global notification
      description: Create and return a new global notification for an account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id004
              type: object
              properties:
                account_notification[subject]:
                  type: string
                  description: The subject of the notification.
                account_notification[message]:
                  type: string
                  description: The message body of the notification.
                account_notification[start_at]:
                  type: string
                  format: date-time
                  description: |-
                    The start date and time of the notification in ISO8601 format.
                    e.g. 2014-01-01T01:00Z
                account_notification[end_at]:
                  type: string
                  format: date-time
                  description: |-
                    The end date and time of the notification in ISO8601 format.
                    e.g. 2014-01-01T01:00Z
                account_notification[icon]:
                  type: string
                  enum:
                  - warning
                  - information
                  - question
                  - error
                  - calendar
                  description: |-
                    The icon to display with the notification.
                    Note: Defaults to warning.
                account_notification_roles:
                  type: array
                  items:
                    type: string
                  description: |-
                    The role(s) to send global notification to.  Note:  ommitting this field will send to everyone
                    Example:
                      account_notification_roles: ["StudentEnrollment", "TeacherEnrollment"]
              required:
              - account_notification[subject]
              - account_notification[message]
              - account_notification[start_at]
              - account_notification[end_at]
          application/x-www-form-urlencoded:
            schema: *id004
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_notifications.html
  /v1/accounts/{account_id}/account_notifications/{id}:
    get:
      tags:
      - Account Notifications
      operationId: show_global_notification
      summary: Show a global notification
      description: |-
        Returns a global notification for the current user
        A notification that has been closed by the user will not be returned
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNotification'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_notifications.html
    put:
      tags:
      - Account Notifications
      operationId: update_global_notification
      summary: Update a global notification
      description: Update global notification for an account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id005
              type: object
              properties:
                account_notification[subject]:
                  type: string
                  description: The subject of the notification.
                account_notification[message]:
                  type: string
                  description: The message body of the notification.
                account_notification[start_at]:
                  type: string
                  format: date-time
                  description: |-
                    The start date and time of the notification in ISO8601 format.
                    e.g. 2014-01-01T01:00Z
                account_notification[end_at]:
                  type: string
                  format: date-time
                  description: |-
                    The end date and time of the notification in ISO8601 format.
                    e.g. 2014-01-01T01:00Z
                account_notification[icon]:
                  type: string
                  enum:
                  - warning
                  - information
                  - question
                  - error
                  - calendar
                  description: The icon to display with the notification.
                account_notification_roles:
                  type: array
                  items:
                    type: string
                  description: |-
                    The role(s) to send global notification to.  Note:  ommitting this field will send to everyone
                    Example:
                      account_notification_roles: ["StudentEnrollment", "TeacherEnrollment"]
          application/x-www-form-urlencoded:
            schema: *id005
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_notifications.html
    delete:
      tags:
      - Account Notifications
      operationId: close_notification_for_user_destroy_notification_for_admin
      summary: Close notification for user. Destroy notification for admin
      description: |-
        If the current user no longer wants to see this account notification, it can be closed with this call.
        This affects the current user only.

        If the current user is an admin and they pass a remove parameter with a value of "true", the account notification
        will be destroyed. This affects all users.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: remove
        in: query
        schema:
          type: boolean
        required: false
        description: Destroy the account notification.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNotification'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_notifications.html
  /v1/accounts/{account_id}/reports:
    get:
      tags:
      - Account Reports
      operationId: list_available_reports
      summary: List Available Reports
      description: Returns a paginated list of reports for the current context.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - description_html
            - params_html
        required: false
        description: |-
          Array of additional information to include.

          "description_html":: an HTML description of the report, with example output
          "parameters_html":: an HTML form for the report parameters
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_reports.html
  /v1/accounts/{account_id}/reports/{report}:
    post:
      tags:
      - Account Reports
      operationId: start_report
      summary: Start a Report
      description: |-
        Generates a report instance for the account. Note that "report" in the
        request must match one of the available report names. To fetch a list of
        available report names and parameters for each report (including whether or
        not those parameters are required), see
        {api:AccountReportsController#available_reports List Available Reports}.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: report
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id006
              type: object
              properties:
                parameters:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: |-
                    The parameters will vary for each report. To fetch a list
                    of available parameters for each report, see {api:AccountReportsController#available_reports List Available Reports}.
                    A few example parameters have been provided below. Note that the example
                    parameters provided below may not be valid for every report.
                parameters[skip_message]:
                  type: boolean
                  description: |-
                    If true, no message will be sent
                    to the user upon completion of the report.
                parameters[course_id]:
                  type: integer
                  format: int64
                  description: |-
                    The id of the course to report on.
                    Note: this parameter has been listed to serve as an example and may not be
                    valid for every report.
                parameters[users]:
                  type: boolean
                  description: |-
                    If true, user data will be included. If
                    false, user data will be omitted. Note: this parameter has been listed to
                    serve as an example and may not be valid for every report.
          application/x-www-form-urlencoded:
            schema: *id006
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report__account_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_reports.html
    get:
      tags:
      - Account Reports
      operationId: index_of_reports
      summary: Index of Reports
      description: Shows all reports that have been run for the account of a specific type.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: report
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report__account_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_reports.html
  /v1/accounts/{account_id}/reports/{report}/{id}:
    get:
      tags:
      - Account Reports
      operationId: status_of_report
      summary: Status of a Report
      description: Returns the status of a report.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: report
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report__account_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_reports.html
    delete:
      tags:
      - Account Reports
      operationId: delete_report
      summary: Delete a Report
      description: Deletes a generated report instance.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: report
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report__account_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_reports.html
  /v1/accounts/{account_id}/reports/{report}/{id}/abort:
    put:
      tags:
      - Account Reports
      operationId: abort_report
      summary: Abort a Report
      description: Abort a report in progress
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: report
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report__account_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/account_reports.html
  /v1/accounts:
    get:
      tags:
      - Accounts
      operationId: list_accounts
      summary: List accounts
      description: |-
        A paginated list of accounts that the current user can view or manage.
        Typically, students and even teachers will get an empty list in response,
        only account admins can view the accounts that they are in.
      parameters:
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - lti_guid
            - registration_settings
            - services
            - course_count
            - sub_account_count
        required: false
        description: |-
          Array of additional information to include.

          "lti_guid":: the 'tool_consumer_instance_guid' that will be sent for this account on LTI launches
          "registration_settings":: returns info about the privacy policy and terms of use
          "services":: returns services and whether they are enabled (requires account management permissions)
          "course_count":: returns the number of courses directly under each account
          "sub_account_count":: returns the number of sub-accounts directly under each account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/horizon_accounts:
    get:
      tags:
      - Accounts
      operationId: list_horizon_accounts
      summary: List horizon accounts
      description: |-
        A paginated list of horizon accounts that the current user can view or manage.
        Returns all accounts with the horizon_account setting enabled. If there are any
        horizon accounts and the user has access to Site Admin, Site Admin will also be
        included in the results.

        Typically, students and even teachers will get an empty list in response,
        only account admins can view the accounts that they are in.
      parameters:
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - lti_guid
            - registration_settings
            - services
            - course_count
            - sub_account_count
            - site_admin
        required: false
        description: |-
          Array of additional information to include.

          "lti_guid":: the 'tool_consumer_instance_guid' that will be sent for this account on LTI launches
          "registration_settings":: returns info about the privacy policy and terms of use
          "services":: returns services and whether they are enabled (requires account management permissions)
          "course_count":: returns the number of courses directly under each account
          "sub_account_count":: returns the number of sub-accounts directly under each account
          "site_admin":: returns true if the account is the Site Admin account (only included if true)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/manageable_accounts:
    get:
      tags:
      - Accounts
      operationId: get_accounts_that_admins_can_manage
      summary: Get accounts that admins can manage
      description: |-
        A paginated list of accounts where the current user has permission to create
        or manage courses. List will be empty for students and teachers as only admins
        can view which accounts they are in.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/course_creation_accounts:
    get:
      tags:
      - Accounts
      operationId: get_accounts_that_users_can_create_courses_in
      summary: Get accounts that users can create courses in
      description: |-
        A paginated list of accounts where the current user has permission to create
        courses.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/course_accounts:
    get:
      tags:
      - Accounts
      operationId: list_accounts_for_course_admins
      summary: List accounts for course admins
      description: |-
        A paginated list of accounts that the current user can view through their
        admin course enrollments. (Teacher, TA, or designer enrollments).
        Only returns "id", "name", "workflow_state", "root_account_id" and "parent_account_id"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/accounts/{id}:
    get:
      tags:
      - Accounts
      operationId: get_single_account
      summary: Get a single account
      description: |-
        Retrieve information on an individual account, given by id or sis
        sis_account_id.
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
    put:
      tags:
      - Accounts
      operationId: update_account
      summary: Update an account
      description: Update an existing account.
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id007
              type: object
              properties:
                account[name]:
                  type: string
                  description: Updates the account name
                account[sis_account_id]:
                  type: string
                  description: |-
                    Updates the account sis_account_id
                    Must have manage_sis permission and must not be a root_account.
                account[default_time_zone]:
                  type: string
                  description: |-
                    The default time zone of the account. Allowed time zones are
                    {http://www.iana.org/time-zones IANA time zones} or friendlier
                    {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
                account[default_storage_quota_mb]:
                  type: integer
                  format: int64
                  description: The default course storage quota to be used, if not otherwise specified.
                account[default_user_storage_quota_mb]:
                  type: integer
                  format: int64
                  description: The default user storage quota to be used, if not otherwise specified.
                account[default_group_storage_quota_mb]:
                  type: integer
                  format: int64
                  description: The default group storage quota to be used, if not otherwise specified.
                account[course_template_id]:
                  type: integer
                  format: int64
                  description: |-
                    The ID of a course to be used as a template for all newly created courses.
                    Empty means to inherit the setting from parent account, 0 means to not
                    use a template even if a parent account has one set. The course must be
                    marked as a template.
                account[parent_account_id]:
                  type: integer
                  format: int64
                  description: |-
                    The ID of a parent account to move the account to. The new parent account
                    must be in the same root account as the original. The hierarchy of
                    sub-accounts will be preserved in the new parent account. The caller must
                    be an administrator in both the original parent account and the new parent
                    account.
                account[settings][restrict_student_past_view][value]:
                  type: boolean
                  description: Restrict students from viewing courses after end date
                account[settings][restrict_student_past_view][locked]:
                  type: boolean
                  description: Lock this setting for sub-accounts and courses
                account[settings][restrict_student_future_view][value]:
                  type: boolean
                  description: Restrict students from viewing courses before start date
                account[settings][microsoft_sync_enabled]:
                  type: boolean
                  description: |-
                    Determines whether this account has Microsoft Teams Sync enabled or not.

                    Note that if you are altering Microsoft Teams sync settings you must enable
                    the Microsoft Group enrollment syncing feature flag. In addition, if you are enabling
                    Microsoft Teams sync, you must also specify a tenant, login attribute, and a remote attribute.
                    Specifying a suffix to use is optional.
                account[settings][microsoft_sync_tenant]:
                  type: string
                  description: |-
                    The tenant this account should use when using Microsoft Teams Sync.
                    This should be an Azure Active Directory domain name.
                account[settings][microsoft_sync_login_attribute]:
                  type: string
                  description: |-
                    The attribute this account should use to lookup users when using Microsoft Teams Sync.
                    Must be one of "sub", "email", "oid", "preferred_username", or "integration_id".
                account[settings][microsoft_sync_login_attribute_suffix]:
                  type: string
                  description: |-
                    A suffix that will be appended to the result of the login attribute when associating
                    Canvas users with Microsoft users. Must be under 255 characters and contain no whitespace.
                    This field is optional.
                account[settings][microsoft_sync_remote_attribute]:
                  type: string
                  description: |-
                    The Active Directory attribute to use when associating Canvas users with Microsoft users.
                    Must be one of "mail", "mailNickname", or "userPrincipalName".
                account[settings][restrict_student_future_view][locked]:
                  type: boolean
                  description: Lock this setting for sub-accounts and courses
                account[settings][lock_all_announcements][value]:
                  type: boolean
                  description: Disable comments on announcements
                account[settings][lock_all_announcements][locked]:
                  type: boolean
                  description: Lock this setting for sub-accounts and courses
                account[settings][usage_rights_required][value]:
                  type: boolean
                  description: Copyright and license information must be provided for files before they are published.
                account[settings][usage_rights_required][locked]:
                  type: boolean
                  description: Lock this setting for sub-accounts and courses
                account[settings][restrict_student_future_listing][value]:
                  type: boolean
                  description: Restrict students from viewing future enrollments in course list
                account[settings][restrict_student_future_listing][locked]:
                  type: boolean
                  description: Lock this setting for sub-accounts and courses
                account[settings][conditional_release][value]:
                  type: boolean
                  description: Enable or disable individual learning paths for students based on assessment
                account[settings][conditional_release][locked]:
                  type: boolean
                  description: Lock this setting for sub-accounts and courses
                account[settings][enable_course_paces][value]:
                  type: boolean
                  description: Enable or disable course pacing
                account[settings][enable_course_paces][locked]:
                  type: boolean
                  description: Lock this setting for sub-accounts and courses
                account[settings][suppress_notifications]:
                  type: boolean
                  description: |-
                    Suppress notification messages from being created and sent. When set to
                    +true+, all notifications are suppressed. When set to an array of
                    notification category slugs (e.g. +["grading", "announcement"]+), only
                    notifications in those categories are suppressed. Set to +false+ to
                    allow all notifications. Root account setting only.
                account[settings][password_policy]:
                  type: object
                  additionalProperties: true
                  description: |-
                    Hash of optional password policy configuration parameters for a root account

                    +allow_login_suspension+ boolean:: Allow suspension of user logins upon reaching maximum_login_attempts

                    +require_number_characters+ boolean:: Require the use of number characters when setting up a new password

                    +require_symbol_characters+ boolean:: Require the use of symbol characters when setting up a new password

                    +minimum_character_length+ integer:: Minimum number of characters required for a new password

                    +maximum_login_attempts+ integer:: Maximum number of login attempts before a user is locked out

                    _Required_ feature option:
                      Enhance password options
                account[settings][enable_as_k5_account][value]:
                  type: boolean
                  description: Enable or disable Canvas for Elementary for this account
                account[settings][use_classic_font_in_k5][value]:
                  type: boolean
                  description: Whether or not the classic font is used on the dashboard. Only applies if enable_as_k5_account is true.
                account[settings][horizon_account][value]:
                  type: boolean
                  description: Enable or disable Canvas Career for this account
                override_sis_stickiness:
                  type: boolean
                  description: |-
                    Default is true. If false, any fields containing “sticky” changes will not be updated.
                    See SIS CSV Format documentation for information on which fields can have SIS stickiness
                account[settings][lock_outcome_proficiency][value]:
                  type: boolean
                  description: '[DEPRECATED] Restrict instructors from changing mastery scale'
                account[lock_outcome_proficiency][locked]:
                  type: boolean
                  description: '[DEPRECATED] Lock this setting for sub-accounts and courses'
                account[settings][lock_proficiency_calculation][value]:
                  type: boolean
                  description: '[DEPRECATED] Restrict instructors from changing proficiency calculation method'
                account[lock_proficiency_calculation][locked]:
                  type: boolean
                  description: '[DEPRECATED] Lock this setting for sub-accounts and courses'
                account[services]:
                  type: object
                  additionalProperties: true
                  description: Give this a set of keys and boolean values to enable or disable services matching the keys
          application/x-www-form-urlencoded:
            schema: *id007
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/accounts/{account_id}/settings:
    get:
      tags:
      - Accounts
      operationId: settings
      summary: Settings
      description: |-
        Returns a JSON object containing a subset of settings for the specified account.
        It's possible an empty set will be returned if no settings are applicable.
        The caller must be an Account admin with the manage_account_settings permission.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/settings/environment:
    get:
      tags:
      - Accounts
      operationId: list_environment_settings
      summary: List environment settings
      description: |-
        Return a hash of global settings for the root account
        This is the same information supplied to the web interface as +ENV.SETTINGS+.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/accounts/{account_id}/permissions:
    get:
      tags:
      - Accounts
      operationId: permissions
      summary: Permissions
      description: |-
        Returns permission information for the calling user and the given account.
        You may use `self` as the account id to check permissions against the domain root account.
        The caller must have an account role or admin (teacher/TA/designer) enrollment in a course
        in the account.

        See also the {api:CoursesController#permissions Course} and {api:GroupsController#permissions Group}
        counterparts.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: permissions
        in: query
        schema:
          type: array
          items:
            type: string
        required: false
        description: |-
          List of permissions to check against the authenticated user.
          Permission names are documented in the {api:RoleOverridesController#manageable_permissions List assignable permissions} endpoint.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/accounts/{account_id}/sub_accounts:
    get:
      tags:
      - Accounts
      operationId: get_sub_accounts_of_account
      summary: Get the sub-accounts of an account
      description: List accounts that are sub-accounts of the given account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: recursive
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If true, the entire account tree underneath
          this account will be returned (though still paginated). If false, only
          direct sub-accounts of this account will be returned. Defaults to false.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - id
          - name
        required: false
        description: |-
          Sorts the accounts by id or name.
          Only applies when recursive is false. Defaults to id.
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - course_count
            - sub_account_count
        required: false
        description: |-
          Array of additional information to include.

          "course_count":: returns the number of courses directly under each account
          "sub_account_count":: returns the number of sub-accounts directly under each account
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
    post:
      tags:
      - Accounts
      operationId: create_new_sub_account
      summary: Create a new sub-account
      description: Add a new sub-account to a given account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id008
              type: object
              properties:
                account[name]:
                  type: string
                  description: The name of the new sub-account.
                account[sis_account_id]:
                  type: string
                  description: The account's identifier in the Student Information System.
                account[default_storage_quota_mb]:
                  type: integer
                  format: int64
                  description: The default course storage quota to be used, if not otherwise specified.
                account[default_user_storage_quota_mb]:
                  type: integer
                  format: int64
                  description: The default user storage quota to be used, if not otherwise specified.
                account[default_group_storage_quota_mb]:
                  type: integer
                  format: int64
                  description: The default group storage quota to be used, if not otherwise specified.
              required:
              - account[name]
          application/x-www-form-urlencoded:
            schema: *id008
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/accounts/{account_id}/terms_of_service:
    get:
      tags:
      - Accounts
      operationId: get_terms_of_service
      summary: Get the Terms of Service
      description: Returns the terms of service for that account
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsOfService'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/accounts/{account_id}/help_links:
    get:
      tags:
      - Accounts
      operationId: get_help_links
      summary: Get help links
      description: Returns the help links for that account
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelpLinks'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/manually_created_courses_account:
    get:
      tags:
      - Accounts
      operationId: get_manually_created_courses_sub_account_for_domain_root_account
      summary: Get the manually-created courses sub-account for the domain root account
      description: Returns the sub-account that contains manually created courses for the domain root account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account__accounts'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
  /v1/accounts/{account_id}/courses:
    get:
      tags:
      - Accounts
      operationId: list_active_courses_in_account
      summary: List active courses in an account
      description: Retrieve a paginated list of courses in this account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: with_enrollments
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If true, include only courses with at least one enrollment.  If false,
          include only courses with no enrollments.  If not present, do not filter
          on course enrollment status.
      - name: enrollment_type
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - teacher
            - student
            - ta
            - observer
            - designer
        required: false
        description: |-
          If set, only return courses that have at least one user enrolled in
          in the course with one of the specified enrollment types.
      - name: enrollment_workflow_state
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - active
            - completed
            - deleted
            - invited
            - pending
            - creation_pending
            - rejected
            - inactive
        required: false
        description: |-
          If set, only return courses that have at least one user enrolled in
          in the course with one of the specified enrollment workflow states.
      - name: published
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If true, include only published courses.  If false, exclude published
          courses.  If not present, do not filter on published status.
      - name: completed
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If true, include only completed courses (these may be in state
          'completed', or their enrollment term may have ended).  If false, exclude
          completed courses.  If not present, do not filter on completed status.
      - name: blueprint
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If true, include only blueprint courses. If false, exclude them.
          If not present, do not filter on this basis.
      - name: blueprint_associated
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If true, include only courses that inherit content from a blueprint course.
          If false, exclude them. If not present, do not filter on this basis.
      - name: public
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If true, include only public courses. If false, exclude them.
          If not present, do not filter on this basis.
      - name: by_teachers
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: |-
          List of User IDs of teachers; if supplied, include only courses taught by
          one of the referenced users.
      - name: by_subaccounts
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: |-
          List of Account IDs; if supplied, include only courses associated with one
          of the referenced subaccounts.
      - name: hide_enrollmentless_courses
        in: query
        schema:
          type: boolean
        required: false
        description: |-
          If present, only return courses that have at least one enrollment.
          Equivalent to 'with_enrollments=true'; retained for compatibility.
      - name: state
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - claimed
            - available
            - completed
            - deleted
            - all
        required: false
        description: |-
          If set, only return courses that are in the given state(s). By default,
          all states but "deleted" are returned.
      - name: enrollment_term_id
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: |-
          If set, only includes courses from the specified terms. Can be either a single ID or
          an array of enrollment term IDs.
      - name: search_term
        in: query
        schema:
          type: string
        required: false
        description: The partial course name, code, or full ID to match and return in the results list. Must be at least 3 characters.
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - syllabus_body
            - term
            - course_progress
            - storage_quota_used_mb
            - total_students
            - teachers
            - account_name
            - concluded
            - post_manually
        required: false
        description: |-
          - All explanations can be seen in the {api:CoursesController#index Course API index documentation}
          - "sections", "needs_grading_count" and "total_scores" are not valid options at the account level
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - course_status
          - course_name
          - sis_course_id
          - teacher
          - account_name
        required: false
        description: The column to sort results by.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
        required: false
        description: The order to sort the given column by.
      - name: search_by
        in: query
        schema:
          type: string
          enum:
          - course
          - teacher
        required: false
        description: |-
          The filter to search by. "course" searches for course names, course codes,
          and SIS IDs. "teacher" searches for teacher names
      - name: starts_before
        in: query
        schema:
          type: string
          format: date
        required: false
        description: |-
          If set, only return courses that start before the value (inclusive)
          or their enrollment term starts before the value (inclusive)
          or both the course's start_at and the enrollment term's start_at are set to null.
          The value should be formatted as: yyyy-mm-dd or ISO 8601 YYYY-MM-DDTHH:MM:SSZ.
      - name: ends_after
        in: query
        schema:
          type: string
          format: date
        required: false
        description: |-
          If set, only return courses that end after the value (inclusive)
          or their enrollment term ends after the value (inclusive)
          or both the course's end_at and the enrollment term's end_at are set to null.
          The value should be formatted as: yyyy-mm-dd or ISO 8601 YYYY-MM-DDTHH:MM:SSZ.
      - name: homeroom
        in: query
        schema:
          type: boolean
        required: false
        description: If set, only return homeroom courses.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  x-canvas-declared-type: Course
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts.html
    post:
      tags:
      - Courses
      operationId: create_new_course
      summary: Create a new course
      description: Create a new course
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id009
              type: object
              properties:
                course[name]:
                  type: string
                  description: |-
                    The name of the course. If omitted, the course will be named "Unnamed
                    Course."
                course[course_code]:
                  type: string
                  description: The course code for the course.
                course[start_at]:
                  type: string
                  format: date-time
                  description: |-
                    Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z
                    This value is ignored unless 'restrict_enrollments_to_course_dates' is set to true.
                course[end_at]:
                  type: string
                  format: date-time
                  description: |-
                    Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z
                    This value is ignored unless 'restrict_enrollments_to_course_dates' is set to true.
                course[license]:
                  type: string
                  description: |-
                    The name of the licensing. Should be one of the following abbreviations
                    (a descriptive name is included in parenthesis for reference):
                    - 'private' (Private Copyrighted)
                    - 'cc_by_nc_nd' (CC Attribution Non-Commercial No Derivatives)
                    - 'cc_by_nc_sa' (CC Attribution Non-Commercial Share Alike)
                    - 'cc_by_nc' (CC Attribution Non-Commercial)
                    - 'cc_by_nd' (CC Attribution No Derivatives)
                    - 'cc_by_sa' (CC Attribution Share Alike)
                    - 'cc_by' (CC Attribution)
                    - 'public_domain' (Public Domain).
                course[is_public]:
                  type: boolean
                  description: Set to true if course is public to both authenticated and unauthenticated users.
                course[is_public_to_auth_users]:
                  type: boolean
                  description: Set to true if course is public only to authenticated users.
                course[public_syllabus]:
                  type: boolean
                  description: Set to true to make the course syllabus public.
                course[public_syllabus_to_auth]:
                  type: boolean
                  description: Set to true to make the course syllabus public for authenticated users.
                course[public_description]:
                  type: string
                  description: A publicly visible description of the course.
                course[allow_student_wiki_edits]:
                  type: boolean
                  description: If true, students will be able to modify the course wiki.
                course[allow_wiki_comments]:
                  type: boolean
                  description: If true, course members will be able to comment on wiki pages.
                course[allow_student_forum_attachments]:
                  type: boolean
                  description: If true, students can attach files to forum posts.
                course[open_enrollment]:
                  type: boolean
                  description: Set to true if the course is open enrollment.
                course[self_enrollment]:
                  type: boolean
                  description: Set to true if the course is self enrollment.
                course[restrict_enrollments_to_course_dates]:
                  type: boolean
                  description: |-
                    Set to true to restrict user enrollments to the start and end dates of the
                    course. This value must be set to true
                    in order to specify a course start date and/or end date.
                course[term_id]:
                  type: string
                  description: The unique ID of the term to create to course in.
                course[sis_course_id]:
                  type: string
                  description: The unique SIS identifier.
                course[integration_id]:
                  type: string
                  description: The unique Integration identifier.
                course[hide_final_grades]:
                  type: boolean
                  description: |-
                    If this option is set to true, the totals in student grades summary will
                    be hidden.
                course[apply_assignment_group_weights]:
                  type: boolean
                  description: Set to true to weight final grade based on assignment groups percentages.
                course[time_zone]:
                  type: string
                  description: |-
                    The time zone for the course. Allowed time zones are
                    {http://www.iana.org/time-zones IANA time zones} or friendlier
                    {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
                offer:
                  type: boolean
                  description: |-
                    If this option is set to true, the course will be available to students
                    immediately.
                enroll_me:
                  type: boolean
                  description: Set to true to enroll the current user as the teacher.
                skip_course_template:
                  type: boolean
                  description: |-
                    If this option is set to true, the template of the account will not be applied to this course
                    It means copy_from_course_template will not be executed. This option is thought for a course copy.
                course[default_view]:
                  type: string
                  enum:
                  - feed
                  - wiki
                  - modules
                  - syllabus
                  - assignments
                  description: |-
                    The type of page that users will see when they first visit the course
                    * 'feed' Recent Activity Dashboard
                    * 'modules' Course Modules/Sections Page
                    * 'assignments' Course Assignments List
                    * 'syllabus' Course Syllabus Page
                    other types may be added in the future
                course[syllabus_body]:
                  type: string
                  description: The syllabus body for the course
                course[grading_standard_id]:
                  type: integer
                  format: int64
                  description: The grading standard id to set for the course.  If no value is provided for this argument the current grading_standard will be un-set from this course.
                course[grade_passback_setting]:
                  type: string
                  description: Optional. The grade_passback_setting for the course. Only 'nightly_sync', 'disabled', and '' are allowed
                course[course_format]:
                  type: string
                  description: Optional. Specifies the format of the course. (Should be 'on_campus', 'online', or 'blended')
                course[post_manually]:
                  type: boolean
                  description: |-
                    Default is false.
                    When true, all grades in the course must be posted manually, and will not be automatically posted.
                    When false, all grades in the course will be automatically posted.
                enable_sis_reactivation:
                  type: boolean
                  description: When true, will first try to re-activate a deleted course with matching sis_course_id if possible.
          application/x-www-form-urlencoded:
            schema: *id009
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/courses.html
    put:
      tags:
      - Courses
      operationId: update_courses
      summary: Update courses
      description: |-
        Update multiple courses in an account.  Operates asynchronously; use the {api:ProgressController#show progress endpoint}
        to query the status of an operation.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema: &id010
              type: object
              properties:
                course_ids:
                  type: array
                  items:
                    type: string
[...]
