openapi: 3.2.0
info:
  title: Canvas LMS REST Webhooks Subscriptions For Plagiarism…
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Webhooks Subscriptions For Plagiarism Platform
  x-resource: webhooks_subscriptions_for_plagiarism_platform
  externalDocs:
    url: https://canvas.instructure.com/doc/api/webhooks_subscriptions_for_plagiarism_platform.html
paths:
  /lti/subscriptions:
    post:
      tags:
      - Webhooks Subscriptions For Plagiarism Platform
      operationId: create_webhook_subscription
      summary: Create a Webhook Subscription
      description: 'Creates a webook subscription for the specified event type and

        context.'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                subscription[ContextId]:
                  type: string
                  description: The id of the context for the subscription.
                subscription[ContextType]:
                  type: string
                  description: 'The type of context for the subscription. Must be ''assignment'',

                    ''account'', or ''course''.'
                subscription[EventTypes]:
                  type: array
                  items: {}
                  description: 'Array of strings representing the event types for

                    the subscription.'
                subscription[Format]:
                  type: string
                  description: Format to deliver the live events. Must be 'live-event' or 'caliper'.
                subscription[TransportMetadata]:
                  type: object
                  additionalProperties: true
                  description: 'An object with a single key: ''Url''. Example: { "Url": "sqs.example" }'
                subscription[TransportType]:
                  type: string
                  description: Must be either 'sqs' or 'https'.
              required:
              - subscription[ContextId]
              - subscription[ContextType]
              - subscription[EventTypes]
              - subscription[Format]
              - subscription[TransportMetadata]
              - subscription[TransportType]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                subscription[ContextId]:
                  type: string
                  description: The id of the context for the subscription.
                subscription[ContextType]:
                  type: string
                  description: 'The type of context for the subscription. Must be ''assignment'',

                    ''account'', or ''course''.'
                subscription[EventTypes]:
                  type: array
                  items: {}
                  description: 'Array of strings representing the event types for

                    the subscription.'
                subscription[Format]:
                  type: string
                  description: Format to deliver the live events. Must be 'live-event' or 'caliper'.
                subscription[TransportMetadata]:
                  type: object
                  additionalProperties: true
                  description: 'An object with a single key: ''Url''. Example: { "Url": "sqs.example" }'
                subscription[TransportType]:
                  type: string
                  description: Must be either 'sqs' or 'https'.
              required:
              - subscription[ContextId]
              - subscription[ContextType]
              - subscription[EventTypes]
              - subscription[Format]
              - subscription[TransportMetadata]
              - subscription[TransportType]
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/webhooks_subscriptions_for_plagiarism_platform.html
    get:
      tags:
      - Webhooks Subscriptions For Plagiarism Platform
      operationId: list_all_webhook_subscription_for_tool_proxy
      summary: List all Webhook Subscription for a tool proxy
      description: 'This endpoint returns a paginated list with a default limit of 100 items per result set.

        You can retrieve the next result set by setting a ''StartKey'' header in your next request

        with the value of the ''EndKey'' header in the response.


        Example use of a ''StartKey'' header object:

        { "Id":"71d6dfba-0547-477d-b41d-db8cb528c6d1","DeveloperKey":"10000000000001" }'
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/webhooks_subscriptions_for_plagiarism_platform.html
  /lti/subscriptions/{id}:
    delete:
      tags:
      - Webhooks Subscriptions For Plagiarism Platform
      operationId: delete_webhook_subscription
      summary: Delete a Webhook Subscription
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/webhooks_subscriptions_for_plagiarism_platform.html
    get:
      tags:
      - Webhooks Subscriptions For Plagiarism Platform
      operationId: show_single_webhook_subscription
      summary: Show a single Webhook Subscription
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/webhooks_subscriptions_for_plagiarism_platform.html
    put:
      tags:
      - Webhooks Subscriptions For Plagiarism Platform
      operationId: update_webhook_subscription
      summary: Update a Webhook Subscription
      description: This endpoint uses the same parameters as the create endpoint
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/webhooks_subscriptions_for_plagiarism_platform.html
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
