openapi: 3.2.0
info:
  title: Canvas LMS REST Course Audit Log API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Course Audit Log
  x-resource: course_audit_log
  externalDocs:
    url: https://canvas.instructure.com/doc/api/course_audit_log.html
paths:
  /v1/audit/course/courses/{course_id}:
    get:
      tags:
      - Course Audit Log
      operationId: query_by_course
      summary: Query by course
      description: List course change events for a given course.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: start_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: The beginning of the time range from which you want events.
      - name: end_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: The end of the time range from which you want events.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseEvent'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/course_audit_log.html
  /v1/audit/course/accounts/{account_id}:
    get:
      tags:
      - Course Audit Log
      operationId: query_by_account_course_audit_log
      summary: Query by account
      description: List course change events for a given account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: start_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: The beginning of the time range from which you want events.
      - name: end_time
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: The end of the time range from which you want events.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseEvent'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/course_audit_log.html
components:
  schemas:
    CourseEvent:
      type: object
      properties:
        id:
          type: string
          example: e2b76430-27a5-0131-3ca1-48e0eb13f29b
          description: ID of the event.
        created_at:
          type: string
          format: date-time
          example: '2012-07-19T15:00:00-06:00'
          description: timestamp of the event
        event_type:
          type: string
          example: updated
          description: Course event type The event type defines the type and schema of the event_data object.
        event_data:
          type: string
          example: '{}'
          description: Course event data depending on the event type.  This will return an object containing the relevant event data.  An updated event type will return an UpdatedEventData object.
        event_source:
          type: string
          example: manual|sis|api
          description: Course event source depending on the event type.  This will return a string containing the source of the event.
        links:
          type: string
          example:
            course: '12345'
            user: '12345'
            page_view: e2b76430-27a5-0131-3ca1-48e0eb13f29b
          description: Jsonapi.org links
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
