openapi: 3.2.0
info:
  title: Canvas LMS REST Peer Reviews API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Peer Reviews
  x-resource: peer_reviews
  externalDocs:
    url: https://canvas.instructure.com/doc/api/peer_reviews.html
paths:
  /v1/courses/{course_id}/assignments/{assignment_id}/peer_reviews:
    get:
      tags:
      - Peer Reviews
      operationId: get_all_peer_reviews_courses_peer_reviews
      summary: Get all Peer Reviews
      description: Get a list of all Peer Reviews for this assignment
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - submission_comments
            - user
        required: false
        description: Associations to include with the peer review.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
  /v1/sections/{section_id}/assignments/{assignment_id}/peer_reviews:
    get:
      tags:
      - Peer Reviews
      operationId: get_all_peer_reviews_sections_peer_reviews
      summary: Get all Peer Reviews
      description: Get a list of all Peer Reviews for this assignment
      parameters:
      - name: section_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - submission_comments
            - user
        required: false
        description: Associations to include with the peer review.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
  /v1/courses/{course_id}/assignments/{assignment_id}/submissions/{submission_id}/peer_reviews:
    get:
      tags:
      - Peer Reviews
      operationId: get_all_peer_reviews_courses_submissions
      summary: Get all Peer Reviews
      description: Get a list of all Peer Reviews for this assignment
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: submission_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - submission_comments
            - user
        required: false
        description: Associations to include with the peer review.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
    post:
      tags:
      - Peer Reviews
      operationId: create_peer_review_courses
      summary: Create Peer Review
      description: Create a peer review for the assignment
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: submission_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  format: int64
                  description: user_id to assign as reviewer on this assignment
              required:
              - user_id
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  format: int64
                  description: user_id to assign as reviewer on this assignment
              required:
              - user_id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
    delete:
      tags:
      - Peer Reviews
      operationId: delete_peer_review_courses
      summary: Delete Peer Review
      description: Delete a peer review for the assignment
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: submission_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: user_id
        in: query
        schema:
          type: integer
          format: int64
        required: true
        description: user_id to delete as reviewer on this assignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
  /v1/sections/{section_id}/assignments/{assignment_id}/submissions/{submission_id}/peer_reviews:
    get:
      tags:
      - Peer Reviews
      operationId: get_all_peer_reviews_sections_submissions
      summary: Get all Peer Reviews
      description: Get a list of all Peer Reviews for this assignment
      parameters:
      - name: section_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: submission_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - submission_comments
            - user
        required: false
        description: Associations to include with the peer review.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
    post:
      tags:
      - Peer Reviews
      operationId: create_peer_review_sections
      summary: Create Peer Review
      description: Create a peer review for the assignment
      parameters:
      - name: section_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: submission_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  format: int64
                  description: user_id to assign as reviewer on this assignment
              required:
              - user_id
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  format: int64
                  description: user_id to assign as reviewer on this assignment
              required:
              - user_id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
    delete:
      tags:
      - Peer Reviews
      operationId: delete_peer_review_sections
      summary: Delete Peer Review
      description: Delete a peer review for the assignment
      parameters:
      - name: section_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: submission_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: user_id
        in: query
        schema:
          type: integer
          format: int64
        required: true
        description: user_id to delete as reviewer on this assignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
  /v1/courses/{course_id}/assignments/{assignment_id}/allocate:
    post:
      tags:
      - Peer Reviews
      operationId: allocate_peer_review
      summary: Allocate Peer Review
      description: Allocates a submission for the current user to peer review
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerReview'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/peer_reviews.html
components:
  schemas:
    PeerReview:
      type: object
      properties:
        assessor_id:
          type: integer
          example: 23
          description: The assessors user id
        asset_id:
          type: integer
          example: 13
          description: The id for the asset associated with this Peer Review
        asset_type:
          type: string
          example: Submission
          description: The type of the asset
        id:
          type: integer
          example: 1
          description: The id of the Peer Review
        user_id:
          type: integer
          example: 7
          description: The user id for the owner of the asset
        workflow_state:
          type: string
          example: assigned
          description: The state of the Peer Review, either 'assigned' or 'completed'
        user:
          type: string
          example: User
          description: the User object for the owner of the asset if the user include parameter is provided (see user API) (optional)
        assessor:
          type: string
          example: User
          description: The User object for the assessor if the user include parameter is provided (see user API) (optional)
        submission_comments:
          type: string
          example: SubmissionComment
          description: The submission comments associated with this Peer Review if the submission_comment include parameter is provided (see submissions API) (optional)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
