openapi: 3.2.0
info:
  title: Canvas LMS REST Course Reports API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Course Reports
  x-resource: course_reports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/course_reports.html
paths:
  /v1/courses/{course_id}/reports/{report_type}/{id}:
    get:
      tags:
      - Course Reports
      operationId: status_of_report_course_reports
      summary: Status of a Report
      description: Returns the status of a report.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: report_type
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report__course_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/course_reports.html
  /v1/courses/{course_id}/reports/{report_type}:
    post:
      tags:
      - Course Reports
      operationId: start_report_course_reports
      summary: Start a Report
      description: 'Generates a report instance for the account. Note that "report" in the

        request must match one of the available report names.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: integer
          format: int64
        required: true
        description: The id of the course to report on.
      - name: report_type
        in: path
        schema:
          type: string
        required: true
        description: The type of report to generate.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 'The parameters will vary for each report.

                    A few example parameters have been provided below.

                    Note: the example parameters provided below may not be valid for every report.'
                parameters[section_ids]:
                  type: array
                  items:
                    type: integer
                  description: 'The sections of the course to report on.

                    Note: this parameter has been listed to serve as an example and may not be

                    valid for every report.'
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                parameters:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 'The parameters will vary for each report.

                    A few example parameters have been provided below.

                    Note: the example parameters provided below may not be valid for every report.'
                parameters[section_ids]:
                  type: array
                  items:
                    type: integer
                  description: 'The sections of the course to report on.

                    Note: this parameter has been listed to serve as an example and may not be

                    valid for every report.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report__course_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/course_reports.html
    get:
      tags:
      - Course Reports
      operationId: status_of_last_report
      summary: Status of last Report
      description: Returns the status of the last report initiated by the current user.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: report_type
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report__course_reports'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/course_reports.html
components:
  schemas:
    Report__course_reports:
      type: object
      properties:
        id:
          type: integer
          example: '1'
          description: The unique identifier for the report.
        file_url:
          type: string
          example: https://example.com/some/path
          description: The url to the report download.
        attachment:
          type: string
          description: The attachment api object of the report. Only available after the report has completed.
        status:
          type: string
          example: complete
          description: The status of the report
        created_at:
          type: string
          format: date-time
          example: '2013-12-01T23:59:00-06:00'
          description: The date and time the report was created.
        started_at:
          type: string
          format: date-time
          example: '2013-12-02T00:03:21-06:00'
          description: The date and time the report started processing.
        ended_at:
          type: string
          format: date-time
          example: '2013-12-02T00:03:21-06:00'
          description: The date and time the report finished processing.
        parameters:
          type: string
          example:
            course_id: 2
            start_at: '2012-07-13T10:55:20-06:00'
            end_at: '2012-07-13T10:55:20-06:00'
          description: The report parameters
        progress:
          type: integer
          example: '100'
          description: The progress of the report
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
