openapi: 3.2.0
info:
  title: Canvas LMS REST Smart Search API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Smart Search
  x-resource: smart_search
  externalDocs:
    url: https://canvas.instructure.com/doc/api/smart_search.html
paths:
  /v1/courses/{course_id}/smartsearch:
    get:
      tags:
      - Smart Search
      operationId: search_course_content
      summary: Search course content
      description: Find course content using a meaning-based search
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: q
        in: query
        schema:
          type: string
        required: true
        description: The search query
      - name: filter
        in: query
        schema:
          type: array
          items:
            type: string
        required: false
        description: 'Types of objects to search. By default, all supported types are searched. Supported types

          include +pages+, +assignments+, +announcements+, and +discussion_topics+.'
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - status
            - modules
        required: false
        description: 'Optional information to include with each search result:

          modules:: An array of module objects that the search result belongs to.

          status:: The published status for all results and the due_date for all assignments.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/smart_search.html
components:
  schemas:
    SearchResult:
      type: object
      properties:
        content_id:
          type: integer
          format: int64
          example: 2
          description: The ID of the matching object.
        content_type:
          type: string
          example: WikiPage
          description: The type of the matching object.
        title:
          type: string
          example: Nicolaus Copernicus
          description: The title of the matching object.
        body:
          type: string
          example: Nicolaus Copernicus was a Renaissance-era mathematician and astronomer who...
          description: The body of the matching object.
        html_url:
          type: string
          example: https://canvas.example.com/courses/123/pages/nicolaus-copernicus
          description: The Canvas URL of the matching object.
        distance:
          type: number
          example: '0.212'
          description: The distance between the search query and the result. Smaller numbers indicate closer matches.
      description: Reference to an object that matches a smart search
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
