openapi: 3.2.0
info:
  title: Canvas LMS REST Assignment Extensions API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Assignment Extensions
  x-resource: assignment_extensions
  externalDocs:
    url: https://canvas.instructure.com/doc/api/assignment_extensions.html
paths:
  /v1/courses/{course_id}/assignments/{assignment_id}/extensions:
    post:
      tags:
      - Assignment Extensions
      operationId: set_extensions_for_student_assignment_submissions
      summary: Set extensions for student assignment submissions
      description: 'Responses


        * 200 OK if the request was successful

        * 403 Forbidden if you are not allowed to extend assignments for this course

        * 400 Bad Request if any of the extensions are invalid'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: assignment_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                assignment_extensions[user_id]:
                  type: array
                  items:
                    type: integer
                  description: The ID of the user we want to add assignment extensions for.
                assignment_extensions[extra_attempts]:
                  type: array
                  items:
                    type: integer
                  description: 'Number of times the student is allowed to re-take the assignment over the

                    limit.'
              required:
              - assignment_extensions[user_id]
              - assignment_extensions[extra_attempts]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                assignment_extensions[user_id]:
                  type: array
                  items:
                    type: integer
                  description: The ID of the user we want to add assignment extensions for.
                assignment_extensions[extra_attempts]:
                  type: array
                  items:
                    type: integer
                  description: 'Number of times the student is allowed to re-take the assignment over the

                    limit.'
              required:
              - assignment_extensions[user_id]
              - assignment_extensions[extra_attempts]
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/assignment_extensions.html
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
