openapi: 3.2.0
info:
  title: Canvas LMS REST Polls API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Polls
  x-resource: polls
  externalDocs:
    url: https://canvas.instructure.com/doc/api/polls.html
paths:
  /v1/polls:
    get:
      tags:
      - Polls
      operationId: list_polls
      summary: List polls
      description: Returns the paginated list of polls for the current user.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/polls.html
    post:
      tags:
      - Polls
      operationId: create_single_poll
      summary: Create a single poll
      description: Create a new poll for the current user
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                polls[question]:
                  type: array
                  items:
                    type: string
                  description: The title of the poll.
                polls[description]:
                  type: array
                  items:
                    type: string
                  description: A brief description or instructions for the poll.
              required:
              - polls[question]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                polls[question]:
                  type: array
                  items:
                    type: string
                  description: The title of the poll.
                polls[description]:
                  type: array
                  items:
                    type: string
                  description: A brief description or instructions for the poll.
              required:
              - polls[question]
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/polls.html
  /v1/polls/{id}:
    get:
      tags:
      - Polls
      operationId: get_single_poll
      summary: Get a single poll
      description: Returns the poll with the given id
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/polls.html
    put:
      tags:
      - Polls
      operationId: update_single_poll
      summary: Update a single poll
      description: Update an existing poll belonging to the current user
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                polls[question]:
                  type: array
                  items:
                    type: string
                  description: The title of the poll.
                polls[description]:
                  type: array
                  items:
                    type: string
                  description: A brief description or instructions for the poll.
              required:
              - polls[question]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                polls[question]:
                  type: array
                  items:
                    type: string
                  description: The title of the poll.
                polls[description]:
                  type: array
                  items:
                    type: string
                  description: A brief description or instructions for the poll.
              required:
              - polls[question]
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/polls.html
    delete:
      tags:
      - Polls
      operationId: delete_poll
      summary: Delete a poll
      description: 204 No Content response code is returned if the deletion was successful.
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/polls.html
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
