openapi: 3.2.0
info:
  title: Canvas LMS REST Quiz Assignment Overrides API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Quiz Assignment Overrides
  x-resource: quiz_assignment_overrides
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_assignment_overrides.html
paths:
  /v1/courses/{course_id}/quizzes/assignment_overrides:
    get:
      tags:
      - Quiz Assignment Overrides
      operationId: retrieve_assignment_overridden_dates_for_classic_quizzes
      summary: Retrieve assignment-overridden dates for Classic Quizzes
      description: 'Retrieve the actual due-at, unlock-at, and available-at dates for quizzes

        based on the assignment overrides active for the current API user.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_assignment_overrides[quiz_ids]
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: 'An array of quiz IDs. If omitted, overrides for all quizzes available to

          the operating user will be returned.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizAssignmentOverrideSetContainer'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_assignment_overrides.html
  /v1/courses/{course_id}/new_quizzes/assignment_overrides:
    get:
      tags:
      - Quiz Assignment Overrides
      operationId: retrieve_assignment_overridden_dates_for_new_quizzes
      summary: Retrieve assignment-overridden dates for New Quizzes
      description: 'Retrieve the actual due-at, unlock-at, and available-at dates for quizzes

        based on the assignment overrides active for the current API user.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_assignment_overrides[quiz_ids]
        in: query
        schema:
          type: array
          items:
            type: integer
        required: false
        description: 'An array of quiz IDs. If omitted, overrides for all quizzes available to

          the operating user will be returned.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizAssignmentOverrideSetContainer'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_assignment_overrides.html
components:
  schemas:
    QuizAssignmentOverrideSetContainer:
      type: object
      properties:
        quiz_assignment_overrides:
          type: array
          items:
            $ref: '#/components/schemas/QuizAssignmentOverrideSet'
          description: The QuizAssignmentOverrideSet
      description: Container for set of assignment-overridden dates for a quiz.
    QuizAssignmentOverrideSet:
      type: object
      properties:
        quiz_id:
          type: string
          example: '1'
          description: ID of the quiz those dates are for.
        due_dates:
          type: string
          description: An array of quiz assignment overrides. For students, this array will always contain a single item which is the set of dates that apply to that student. For teachers and staff, it may contain more.
        all_dates:
          type: string
          description: An array of all assignment overrides active for the quiz. This is visible only to teachers and staff.
      description: Set of assignment-overridden dates for a quiz.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
