openapi: 3.2.0
info:
  title: Canvas LMS REST Content Exports API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Content Exports
  x-resource: content_exports
  externalDocs:
    url: https://canvas.instructure.com/doc/api/content_exports.html
paths:
  /v1/courses/{course_id}/content_exports:
    get:
      tags:
      - Content Exports
      operationId: list_content_exports_courses
      summary: List content exports
      description: 'A paginated list of the past and pending content export jobs for a course,

        group, or user. Exports are returned newest first.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
    post:
      tags:
      - Content Exports
      operationId: export_content_courses
      summary: Export content
      description: 'Begin a content export job for a course, group, or user.


        You can use the {api:ProgressController#show Progress API} to track the

        progress of the export. The migration''s progress is linked to with the

        _progress_url_ value.


        When the export completes, use the {api:ContentExportsApiController#show Show content export} endpoint

        to retrieve a download URL for the exported content.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                export_type:
                  type: string
                  enum:
                  - common_cartridge
                  - qti
                  - zip
                  description: '"common_cartridge":: Export the contents of the course in the Common Cartridge (.imscc) format

                    "qti":: Export quizzes from a course in the QTI format

                    "zip":: Export files from a course, group, or user in a zip file'
                skip_notifications:
                  type: boolean
                  description: 'Don''t send the notifications about the export to the user. Default: false'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'The select parameter allows exporting specific data. The keys are object types like ''files'',

                    ''folders'', ''pages'', etc. The value for each key is a list of object ids. An id can be an

                    integer or a string.


                    Multiple object types can be selected in the same call. However, not all object types are

                    valid for every export_type. Common Cartridge supports all object types. Zip and QTI only

                    support the object types as described below.


                    "folders":: Also supported for zip export_type.

                    "files":: Also supported for zip export_type.

                    "quizzes":: Also supported for qti export_type.'
              required:
              - export_type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                export_type:
                  type: string
                  enum:
                  - common_cartridge
                  - qti
                  - zip
                  description: '"common_cartridge":: Export the contents of the course in the Common Cartridge (.imscc) format

                    "qti":: Export quizzes from a course in the QTI format

                    "zip":: Export files from a course, group, or user in a zip file'
                skip_notifications:
                  type: boolean
                  description: 'Don''t send the notifications about the export to the user. Default: false'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'The select parameter allows exporting specific data. The keys are object types like ''files'',

                    ''folders'', ''pages'', etc. The value for each key is a list of object ids. An id can be an

                    integer or a string.


                    Multiple object types can be selected in the same call. However, not all object types are

                    valid for every export_type. Common Cartridge supports all object types. Zip and QTI only

                    support the object types as described below.


                    "folders":: Also supported for zip export_type.

                    "files":: Also supported for zip export_type.

                    "quizzes":: Also supported for qti export_type.'
              required:
              - export_type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
  /v1/groups/{group_id}/content_exports:
    get:
      tags:
      - Content Exports
      operationId: list_content_exports_groups
      summary: List content exports
      description: 'A paginated list of the past and pending content export jobs for a course,

        group, or user. Exports are returned newest first.'
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
    post:
      tags:
      - Content Exports
      operationId: export_content_groups
      summary: Export content
      description: 'Begin a content export job for a course, group, or user.


        You can use the {api:ProgressController#show Progress API} to track the

        progress of the export. The migration''s progress is linked to with the

        _progress_url_ value.


        When the export completes, use the {api:ContentExportsApiController#show Show content export} endpoint

        to retrieve a download URL for the exported content.'
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                export_type:
                  type: string
                  enum:
                  - common_cartridge
                  - qti
                  - zip
                  description: '"common_cartridge":: Export the contents of the course in the Common Cartridge (.imscc) format

                    "qti":: Export quizzes from a course in the QTI format

                    "zip":: Export files from a course, group, or user in a zip file'
                skip_notifications:
                  type: boolean
                  description: 'Don''t send the notifications about the export to the user. Default: false'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'The select parameter allows exporting specific data. The keys are object types like ''files'',

                    ''folders'', ''pages'', etc. The value for each key is a list of object ids. An id can be an

                    integer or a string.


                    Multiple object types can be selected in the same call. However, not all object types are

                    valid for every export_type. Common Cartridge supports all object types. Zip and QTI only

                    support the object types as described below.


                    "folders":: Also supported for zip export_type.

                    "files":: Also supported for zip export_type.

                    "quizzes":: Also supported for qti export_type.'
              required:
              - export_type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                export_type:
                  type: string
                  enum:
                  - common_cartridge
                  - qti
                  - zip
                  description: '"common_cartridge":: Export the contents of the course in the Common Cartridge (.imscc) format

                    "qti":: Export quizzes from a course in the QTI format

                    "zip":: Export files from a course, group, or user in a zip file'
                skip_notifications:
                  type: boolean
                  description: 'Don''t send the notifications about the export to the user. Default: false'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'The select parameter allows exporting specific data. The keys are object types like ''files'',

                    ''folders'', ''pages'', etc. The value for each key is a list of object ids. An id can be an

                    integer or a string.


                    Multiple object types can be selected in the same call. However, not all object types are

                    valid for every export_type. Common Cartridge supports all object types. Zip and QTI only

                    support the object types as described below.


                    "folders":: Also supported for zip export_type.

                    "files":: Also supported for zip export_type.

                    "quizzes":: Also supported for qti export_type.'
              required:
              - export_type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
  /v1/users/{user_id}/content_exports:
    get:
      tags:
      - Content Exports
      operationId: list_content_exports_users
      summary: List content exports
      description: 'A paginated list of the past and pending content export jobs for a course,

        group, or user. Exports are returned newest first.'
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
    post:
      tags:
      - Content Exports
      operationId: export_content_users
      summary: Export content
      description: 'Begin a content export job for a course, group, or user.


        You can use the {api:ProgressController#show Progress API} to track the

        progress of the export. The migration''s progress is linked to with the

        _progress_url_ value.


        When the export completes, use the {api:ContentExportsApiController#show Show content export} endpoint

        to retrieve a download URL for the exported content.'
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                export_type:
                  type: string
                  enum:
                  - common_cartridge
                  - qti
                  - zip
                  description: '"common_cartridge":: Export the contents of the course in the Common Cartridge (.imscc) format

                    "qti":: Export quizzes from a course in the QTI format

                    "zip":: Export files from a course, group, or user in a zip file'
                skip_notifications:
                  type: boolean
                  description: 'Don''t send the notifications about the export to the user. Default: false'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'The select parameter allows exporting specific data. The keys are object types like ''files'',

                    ''folders'', ''pages'', etc. The value for each key is a list of object ids. An id can be an

                    integer or a string.


                    Multiple object types can be selected in the same call. However, not all object types are

                    valid for every export_type. Common Cartridge supports all object types. Zip and QTI only

                    support the object types as described below.


                    "folders":: Also supported for zip export_type.

                    "files":: Also supported for zip export_type.

                    "quizzes":: Also supported for qti export_type.'
              required:
              - export_type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                export_type:
                  type: string
                  enum:
                  - common_cartridge
                  - qti
                  - zip
                  description: '"common_cartridge":: Export the contents of the course in the Common Cartridge (.imscc) format

                    "qti":: Export quizzes from a course in the QTI format

                    "zip":: Export files from a course, group, or user in a zip file'
                skip_notifications:
                  type: boolean
                  description: 'Don''t send the notifications about the export to the user. Default: false'
                select:
                  type: object
                  additionalProperties: true
                  enum:
                  - folders
                  - files
                  - attachments
                  - quizzes
                  - assignments
                  - announcements
                  - calendar_events
                  - discussion_topics
                  - modules
                  - module_items
                  - pages
                  - rubrics
                  description: 'The select parameter allows exporting specific data. The keys are object types like ''files'',

                    ''folders'', ''pages'', etc. The value for each key is a list of object ids. An id can be an

                    integer or a string.


                    Multiple object types can be selected in the same call. However, not all object types are

                    valid for every export_type. Common Cartridge supports all object types. Zip and QTI only

                    support the object types as described below.


                    "folders":: Also supported for zip export_type.

                    "files":: Also supported for zip export_type.

                    "quizzes":: Also supported for qti export_type.'
              required:
              - export_type
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
  /v1/courses/{course_id}/content_exports/{id}:
    get:
      tags:
      - Content Exports
      operationId: show_content_export_courses
      summary: Show content export
      description: Get information about a single content export.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
  /v1/groups/{group_id}/content_exports/{id}:
    get:
      tags:
      - Content Exports
      operationId: show_content_export_groups
      summary: Show content export
      description: Get information about a single content export.
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
  /v1/users/{user_id}/content_exports/{id}:
    get:
      tags:
      - Content Exports
      operationId: show_content_export_users
      summary: Show content export
      description: Get information about a single content export.
      parameters:
      - name: user_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentExport'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/content_exports.html
components:
  schemas:
    ContentExport:
      type: object
      properties:
        id:
          type: integer
          example: 101
          description: the unique identifier for the export
        created_at:
          type: string
          format: date-time
          example: '2014-01-01T00:00:00Z'
          description: the date and time this export was requested
        export_type:
          type: string
          example: common_cartridge
          description: 'the type of content migration: ''common_cartridge'' or ''qti'''
        attachment:
          type: string
          example:
            url: https://example.com/api/v1/attachments/789?download_frd=1
          description: attachment api object for the export package (not present before the export completes or after it becomes unavailable for download.)
        progress_url:
          type: string
          example: https://example.com/api/v1/progress/4
          description: The api endpoint for polling the current progress
        user_id:
          type: integer
          example: 4
          description: The ID of the user who started the export
        workflow_state:
          type: string
          example: exported
          description: 'Current state of the content migration: created exporting exported failed'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
