openapi: 3.2.0
info:
  title: Canvas LMS REST Accounts (Lti) API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Accounts (Lti)
  x-resource: accounts_(lti)
  externalDocs:
    url: https://canvas.instructure.com/doc/api/accounts_(lti).html
paths:
  /lti/accounts/{account_id}:
    get:
      tags:
      - Accounts (Lti)
      operationId: get_account
      summary: Get account
      description: Retrieve information on an individual account, given by local or global ID.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account__accounts__lti'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/accounts_(lti).html
components:
  schemas:
    Account__accounts__lti:
      type: object
      properties:
        id:
          type: integer
          example: 2
          description: the ID of the Account object
        name:
          type: string
          example: Canvas Account
          description: The display name of the account
        uuid:
          type: string
          example: WvAHhY5FINzq5IyRIJybGeiXyFkG3SqHUPb7jZY5
          description: The UUID of the account
        parent_account_id:
          type: integer
          example: 1
          description: The account's parent ID, or null if this is the root account
        root_account_id:
          type: integer
          example: 1
          description: The ID of the root account, or null if this is the root account
        workflow_state:
          type: string
          example: active
          description: The state of the account. Can be 'active' or 'deleted'.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
