openapi: 3.2.0
info:
  title: Canvas LMS REST Brand Configs API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Brand Configs
  x-resource: brand_configs
  externalDocs:
    url: https://canvas.instructure.com/doc/api/brand_configs.html
paths:
  /v1/brand_variables:
    get:
      tags:
      - Brand Configs
      operationId: get_brand_config_variables_that_should_be_used_for_this_domain
      summary: Get the brand config variables that should be used for this domain
      description: 'Will redirect to a static json file that has all of the brand

        variables used by this account. Even though this is a redirect,

        do not store the redirected url since if the account makes any changes

        it will redirect to a new url. Needs no authentication.'
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/brand_configs.html
  /v1/accounts/{account_id}/brand_variables:
    get:
      tags:
      - Brand Configs
      operationId: get_brand_config_variables_for_sub_account_or_course_accounts
      summary: Get the brand config variables for a sub-account or course
      description: 'Will redirect to a static json file that has all of the brand

        variables used by the provided context. Even though this is a redirect,

        do not store the redirected url since if the sub-account makes any changes

        it will redirect to a new url.'
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/brand_configs.html
  /v1/courses/{course_id}/brand_variables:
    get:
      tags:
      - Brand Configs
      operationId: get_brand_config_variables_for_sub_account_or_course_courses
      summary: Get the brand config variables for a sub-account or course
      description: 'Will redirect to a static json file that has all of the brand

        variables used by the provided context. Even though this is a redirect,

        do not store the redirected url since if the sub-account makes any changes

        it will redirect to a new url.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/brand_configs.html
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
