openapi: 3.2.0
info:
  title: Canvas LMS REST Enrollment Terms API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Enrollment Terms
  x-resource: enrollment_terms
  externalDocs:
    url: https://canvas.instructure.com/doc/api/enrollment_terms.html
paths:
  /v1/accounts/{account_id}/terms:
    post:
      tags:
      - Enrollment Terms
      operationId: create_enrollment_term
      summary: Create enrollment term
      description: Create a new enrollment term for the specified account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollment_term[name]:
                  type: string
                  description: The name of the term.
                enrollment_term[start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[sis_term_id]:
                  type: string
                  description: The unique SIS identifier for the term.
                enrollment_term[overrides][enrollment_type][start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
                enrollment_term[overrides][enrollment_type][end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                enrollment_term[name]:
                  type: string
                  description: The name of the term.
                enrollment_term[start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[sis_term_id]:
                  type: string
                  description: The unique SIS identifier for the term.
                enrollment_term[overrides][enrollment_type][start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
                enrollment_term[overrides][enrollment_type][end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentTerm'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/enrollment_terms.html
    get:
      tags:
      - Enrollment Terms
      operationId: list_enrollment_terms
      summary: List enrollment terms
      description: An object with a paginated list of all of the terms in the account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: workflow_state
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - active
            - deleted
            - all
        required: false
        description: 'If set, only returns terms that are in the given state.

          Defaults to ''active''.'
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - overrides
        required: false
        description: 'Array of additional information to include.


          "overrides":: term start/end dates overridden for different enrollment types

          "course_count":: the number of courses in each term'
      - name: term_name
        in: query
        schema:
          type: string
        required: false
        description: 'If set, only returns terms that match the given search keyword.

          Search keyword is matched against term name.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentTermsList'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/enrollment_terms.html
  /v1/accounts/{account_id}/terms/{id}:
    put:
      tags:
      - Enrollment Terms
      operationId: update_enrollment_term
      summary: Update enrollment term
      description: Update an existing enrollment term for the specified account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollment_term[name]:
                  type: string
                  description: The name of the term.
                enrollment_term[start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[sis_term_id]:
                  type: string
                  description: The unique SIS identifier for the term.
                enrollment_term[overrides][enrollment_type][start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
                enrollment_term[overrides][enrollment_type][end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
                override_sis_stickiness:
                  type: boolean
                  description: 'Default is true. If false, any fields containing “sticky” changes will not be updated.

                    See SIS CSV Format documentation for information on which fields can have SIS stickiness'
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                enrollment_term[name]:
                  type: string
                  description: The name of the term.
                enrollment_term[start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.'
                enrollment_term[sis_term_id]:
                  type: string
                  description: The unique SIS identifier for the term.
                enrollment_term[overrides][enrollment_type][start_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term starts, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
                enrollment_term[overrides][enrollment_type][end_at]:
                  type: string
                  format: date-time
                  description: 'The day/time the term ends, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment'
                override_sis_stickiness:
                  type: boolean
                  description: 'Default is true. If false, any fields containing “sticky” changes will not be updated.

                    See SIS CSV Format documentation for information on which fields can have SIS stickiness'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentTerm'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/enrollment_terms.html
    delete:
      tags:
      - Enrollment Terms
      operationId: delete_enrollment_term
      summary: Delete enrollment term
      description: Delete the specified enrollment term.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentTerm'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/enrollment_terms.html
    get:
      tags:
      - Enrollment Terms
      operationId: retrieve_enrollment_term
      summary: Retrieve enrollment term
      description: Retrieves the details for an enrollment term in the account. Includes overrides by default.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentTerm'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/enrollment_terms.html
components:
  schemas:
    EnrollmentTerm:
      type: object
      properties:
        id:
          type: integer
          example: '1'
          description: The unique identifier for the enrollment term.
        sis_term_id:
          type: string
          example: Sp2014
          description: The SIS id of the term. Only included if the user has permission to view SIS information.
        sis_import_id:
          type: integer
          example: 34
          description: the unique identifier for the SIS import. This field is only included if the user has permission to manage SIS information.
        name:
          type: string
          example: Spring 2014
          description: The name of the term.
        start_at:
          type: string
          format: date-time
          example: '2014-01-06T08:00:00-05:00'
          description: The datetime of the start of the term.
        end_at:
          type: string
          format: date-time
          example: '2014-05-16T05:00:00-04:00'
          description: The datetime of the end of the term.
        workflow_state:
          type: string
          example: active
          description: The state of the term. Can be 'active' or 'deleted'.
        overrides:
          type: object
          additionalProperties: true
          example:
            StudentEnrollment:
              start_at: '2014-01-07T08:00:00-05:00'
              end_at: 2014-05-14T05:00:00-04:0
          description: Term date overrides for specific enrollment types
        course_count:
          type: integer
          example: '80'
          description: The number of courses in the term (available via include)
    EnrollmentTermsList:
      type: object
      properties:
        enrollment_terms:
          type: array
          items:
            $ref: '#/components/schemas/EnrollmentTerm'
          example: []
          description: a paginated list of all terms in the account
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
