openapi: 3.2.0
info:
  title: Canvas LMS REST Quiz Question Groups API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Quiz Question Groups
  x-resource: quiz_question_groups
  externalDocs:
    url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
paths:
  /v1/courses/{course_id}/quizzes/{quiz_id}/groups:
    get:
      tags:
      - Quiz Question Groups
      operationId: list_question_groups_in_quiz
      summary: List question groups in a quiz
      description: Returns a list of question groups in a quiz.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
    post:
      tags:
      - Quiz Question Groups
      operationId: create_question_group
      summary: Create a question group
      description: 'Create a new question group for this quiz


        201 Created response code is returned if the creation was successful.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                quiz_groups[name]:
                  type: array
                  items:
                    type: string
                  description: The name of the question group.
                quiz_groups[pick_count]:
                  type: array
                  items:
                    type: integer
                  description: The number of questions to randomly select for this group.
                quiz_groups[question_points]:
                  type: array
                  items:
                    type: integer
                  description: The number of points to assign to each question in the group.
                quiz_groups[assessment_question_bank_id]:
                  type: array
                  items:
                    type: integer
                  description: The id of the assessment question bank to pull questions from.
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                quiz_groups[name]:
                  type: array
                  items:
                    type: string
                  description: The name of the question group.
                quiz_groups[pick_count]:
                  type: array
                  items:
                    type: integer
                  description: The number of questions to randomly select for this group.
                quiz_groups[question_points]:
                  type: array
                  items:
                    type: integer
                  description: The number of points to assign to each question in the group.
                quiz_groups[assessment_question_bank_id]:
                  type: array
                  items:
                    type: integer
                  description: The id of the assessment question bank to pull questions from.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
  /v1/courses/{course_id}/quizzes/{quiz_id}/groups/{id}:
    get:
      tags:
      - Quiz Question Groups
      operationId: get_single_quiz_group
      summary: Get a single quiz group
      description: Returns details of the quiz group with the given id.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizGroup'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
    put:
      tags:
      - Quiz Question Groups
      operationId: update_question_group
      summary: Update a question group
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                quiz_groups[name]:
                  type: array
                  items:
                    type: string
                  description: The name of the question group.
                quiz_groups[pick_count]:
                  type: array
                  items:
                    type: integer
                  description: The number of questions to randomly select for this group.
                quiz_groups[question_points]:
                  type: array
                  items:
                    type: integer
                  description: The number of points to assign to each question in the group.
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                quiz_groups[name]:
                  type: array
                  items:
                    type: string
                  description: The name of the question group.
                quiz_groups[pick_count]:
                  type: array
                  items:
                    type: integer
                  description: The number of questions to randomly select for this group.
                quiz_groups[question_points]:
                  type: array
                  items:
                    type: integer
                  description: The number of points to assign to each question in the group.
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
    delete:
      tags:
      - Quiz Question Groups
      operationId: delete_question_group
      summary: Delete a question group
      description: 'Delete a question group


        204 No Content response code is returned if the deletion was successful.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
  /v1/courses/{course_id}/quizzes/{quiz_id}/groups/{id}/reorder:
    post:
      tags:
      - Quiz Question Groups
      operationId: reorder_question_groups
      summary: Reorder question groups
      description: 'Change the order of the quiz questions within the group


        204 No Content response code is returned if the reorder was successful.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: quiz_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                order[id]:
                  type: array
                  items:
                    type: integer
                  description: The associated item's unique identifier
                order[type]:
                  type: array
                  items:
                    type: string
                    enum:
                    - question
                  description: The type of item is always 'question' for a group
              required:
              - order[id]
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                order[id]:
                  type: array
                  items:
                    type: integer
                  description: The associated item's unique identifier
                order[type]:
                  type: array
                  items:
                    type: string
                    enum:
                    - question
                  description: The type of item is always 'question' for a group
              required:
              - order[id]
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/quiz_question_groups.html
components:
  schemas:
    QuizGroup:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: The ID of the question group.
        quiz_id:
          type: integer
          format: int64
          example: 2
          description: The ID of the Quiz the question group belongs to.
        name:
          type: string
          example: Fraction questions
          description: The name of the question group.
        pick_count:
          type: integer
          format: int64
          example: 3
          description: The number of questions to pick from the group to display to the student.
        question_points:
          type: integer
          format: int64
          example: 10
          description: The amount of points allotted to each question in the group.
        assessment_question_bank_id:
          type: integer
          format: int64
          example: 2
          description: The ID of the Assessment question bank to pull questions from.
        position:
          type: integer
          format: int64
          example: 1
          description: The order in which the question group will be retrieved and displayed.
      required:
      - id
      - quiz_id
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
