openapi: 3.2.0
info:
  title: Canvas LMS REST Announcement External Feeds API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Announcement External Feeds
  x-resource: announcement_external_feeds
  externalDocs:
    url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
paths:
  /v1/courses/{course_id}/external_feeds:
    get:
      tags:
      - Announcement External Feeds
      operationId: list_external_feeds_courses
      summary: List external feeds
      description: Returns the paginated list of External Feeds this course or group.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalFeed'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
    post:
      tags:
      - Announcement External Feeds
      operationId: create_external_feed_courses
      summary: Create an external feed
      description: Create a new external feed for the course or group.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The url to the external rss or atom feed
                header_match:
                  type: boolean
                  description: If given, only feed entries that contain this string in their title will be imported
                verbosity:
                  type: string
                  enum:
                  - full
                  - truncate
                  - link_only
                  description: Defaults to "full"
              required:
              - url
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The url to the external rss or atom feed
                header_match:
                  type: boolean
                  description: If given, only feed entries that contain this string in their title will be imported
                verbosity:
                  type: string
                  enum:
                  - full
                  - truncate
                  - link_only
                  description: Defaults to "full"
              required:
              - url
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFeed'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
  /v1/groups/{group_id}/external_feeds:
    get:
      tags:
      - Announcement External Feeds
      operationId: list_external_feeds_groups
      summary: List external feeds
      description: Returns the paginated list of External Feeds this course or group.
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalFeed'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
    post:
      tags:
      - Announcement External Feeds
      operationId: create_external_feed_groups
      summary: Create an external feed
      description: Create a new external feed for the course or group.
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The url to the external rss or atom feed
                header_match:
                  type: boolean
                  description: If given, only feed entries that contain this string in their title will be imported
                verbosity:
                  type: string
                  enum:
                  - full
                  - truncate
                  - link_only
                  description: Defaults to "full"
              required:
              - url
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The url to the external rss or atom feed
                header_match:
                  type: boolean
                  description: If given, only feed entries that contain this string in their title will be imported
                verbosity:
                  type: string
                  enum:
                  - full
                  - truncate
                  - link_only
                  description: Defaults to "full"
              required:
              - url
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFeed'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
  /v1/courses/{course_id}/external_feeds/{external_feed_id}:
    delete:
      tags:
      - Announcement External Feeds
      operationId: delete_external_feed_courses
      summary: Delete an external feed
      description: Deletes the external feed.
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: external_feed_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFeed'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
  /v1/groups/{group_id}/external_feeds/{external_feed_id}:
    delete:
      tags:
      - Announcement External Feeds
      operationId: delete_external_feed_groups
      summary: Delete an external feed
      description: Deletes the external feed.
      parameters:
      - name: group_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: external_feed_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFeed'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/announcement_external_feeds.html
components:
  schemas:
    ExternalFeed:
      type: object
      properties:
        id:
          type: integer
          example: 5
          description: The ID of the feed
        display_name:
          type: string
          example: My Blog
          description: The title of the feed, pulled from the feed itself. If the feed hasn't yet been pulled, a temporary name will be synthesized based on the URL
        url:
          type: string
          example: http://example.com/myblog.rss
          description: The HTTP/HTTPS URL to the feed
        header_match:
          type: string
          example: pattern
          description: If not null, only feed entries whose title contains this string will trigger new posts in Canvas
        created_at:
          type: string
          format: date-time
          example: '2012-06-01T00:00:00-06:00'
          description: When this external feed was added to Canvas
        verbosity:
          type: string
          example: truncate
          description: The verbosity setting determines how much of the feed's content is imported into Canvas as part of the posting. 'link_only' means that only the title and a link to the item. 'truncate' means that a summary of the first portion of the item body will be used. 'full' means that the full item body will be used.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
