openapi: 3.2.0
info:
  title: Canvas LMS REST Ai Experiences API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Ai Experiences
  x-resource: ai_experiences
  externalDocs:
    url: https://canvas.instructure.com/doc/api/ai_experiences.html
paths:
  /v1/courses/{course_id}/ai_experiences:
    get:
      tags:
      - Ai Experiences
      operationId: list_ai_experiences
      summary: List AI experiences
      description: Retrieve the paginated list of AI experiences for a course
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: workflow_state
        in: query
        schema:
          type: string
        required: false
        description: 'Only return experiences with the specified workflow state.

          Allowed values: published, unpublished, deleted'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AiExperience'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
    post:
      tags:
      - Ai Experiences
      operationId: create_ai_experience
      summary: Create an AI experience
      description: Create a new AI experience for the specified course
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the AI experience.
                description:
                  type: string
                  description: The description of the AI experience.
                facts:
                  type: string
                  description: The AI facts for the experience.
                learning_objective:
                  type: string
                  description: The learning objectives for this experience.
                pedagogical_guidance:
                  type: string
                  description: The pedagogical guidance for the experience.
                workflow_state:
                  type: string
                  description: 'The initial state of the experience. Defaults to ''unpublished''.

                    Allowed values: published, unpublished'
              required:
              - title
              - learning_objective
              - pedagogical_guidance
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the AI experience.
                description:
                  type: string
                  description: The description of the AI experience.
                facts:
                  type: string
                  description: The AI facts for the experience.
                learning_objective:
                  type: string
                  description: The learning objectives for this experience.
                pedagogical_guidance:
                  type: string
                  description: The pedagogical guidance for the experience.
                workflow_state:
                  type: string
                  description: 'The initial state of the experience. Defaults to ''unpublished''.

                    Allowed values: published, unpublished'
              required:
              - title
              - learning_objective
              - pedagogical_guidance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiExperience'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
  /v1/courses/{course_id}/ai_experiences/{id}:
    get:
      tags:
      - Ai Experiences
      operationId: show_ai_experience
      summary: Show an AI experience
      description: Retrieve an AI experience by ID
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiExperience'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
    put:
      tags:
      - Ai Experiences
      operationId: update_ai_experience
      summary: Update an AI experience
      description: Update an existing AI experience
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the AI experience.
                description:
                  type: string
                  description: The description of the AI experience.
                facts:
                  type: string
                  description: The AI facts for the experience.
                learning_objective:
                  type: string
                  description: The learning objectives for this experience.
                pedagogical_guidance:
                  type: string
                  description: The pedagogical guidance for the experience.
                workflow_state:
                  type: string
                  description: 'The state of the experience.

                    Allowed values: published, unpublished'
              required:
              - learning_objective
              - pedagogical_guidance
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the AI experience.
                description:
                  type: string
                  description: The description of the AI experience.
                facts:
                  type: string
                  description: The AI facts for the experience.
                learning_objective:
                  type: string
                  description: The learning objectives for this experience.
                pedagogical_guidance:
                  type: string
                  description: The pedagogical guidance for the experience.
                workflow_state:
                  type: string
                  description: 'The state of the experience.

                    Allowed values: published, unpublished'
              required:
              - learning_objective
              - pedagogical_guidance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiExperience'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
    delete:
      tags:
      - Ai Experiences
      operationId: delete_ai_experience
      summary: Delete an AI experience
      description: Delete an AI experience (soft delete - marks as deleted)
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiExperience'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
  /v1/courses/{course_id}/ai_experiences/new:
    get:
      tags:
      - Ai Experiences
      operationId: show_new_ai_experience_form
      summary: Show new AI experience form
      description: Display the form for creating a new AI experience
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
  /v1/courses/{course_id}/ai_experiences/{id}/edit:
    get:
      tags:
      - Ai Experiences
      operationId: show_edit_ai_experience_form
      summary: Show edit AI experience form
      description: Display the form for editing an existing AI experience
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success, no content returned
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
  /v1/courses/{course_id}/ai_experiences/{id}/ai_conversations:
    get:
      tags:
      - Ai Experiences
      operationId: list_student_ai_conversations
      summary: List student AI conversations
      description: 'Retrieve the latest AI conversation for each student in the course for this AI experience.

        Only available to teachers and course managers.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  x-canvas-declared-type: AiConversation
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
  /v1/courses/{course_id}/ai_experiences/{id}/ai_conversations/{conversation_id}:
    get:
      tags:
      - Ai Experiences
      operationId: show_student_ai_conversation
      summary: Show student AI conversation
      description: 'Retrieve a specific student''s AI conversation with full message history.

        Only available to teachers and course managers.'
      parameters:
      - name: course_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: conversation_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                x-canvas-declared-type: AiConversation
      externalDocs:
        url: https://canvas.instructure.com/doc/api/ai_experiences.html
components:
  schemas:
    AiExperience:
      type: object
      properties:
        id:
          type: integer
          example: 234
          description: The ID of the AI experience
        title:
          type: string
          example: Customer Service Simulation
          description: The title for the AI experience
        description:
          type: string
          example: Practice customer service skills in a simulated environment
          description: The description of the AI experience
        facts:
          type: string
          example: You are a customer service representative...
          description: The AI facts for the experience (optional)
        learning_objective:
          type: string
          example: Students will practice active listening and problem-solving
          description: The learning objectives for this experience
        pedagogical_guidance:
          type: string
          example: A customer is calling about a billing issue
          description: The pedagogical guidance for the experience
        workflow_state:
          type: string
          example: published
          description: The current published state of the AI experience
        course_id:
          type: integer
          example: 1578941
          description: The course this experience belongs to
      description: An AI Experience for interactive learning
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
