openapi: 3.2.0
info:
  title: Canvas LMS REST Temporary Enrollment Pairings API
  version: v1
  summary: The complete Canvas LMS REST API, converted from the Swagger 1.2 documents Instructure publishes under https://canvas.instructure.com/doc/api/.
  description: The Canvas LMS REST API covers courses, assignments, quizzes, grades, users, enrollments, accounts, files, modules, rubrics, submissions, SIS imports, LTI, analytics and account administration.
  contact:
    name: Instructure Canvas
    url: https://canvas.instructure.com/doc/api/
  license:
    name: AGPL-3.0
    url: https://github.com/instructure/canvas-lms/blob/master/LICENSE
servers:
- url: https://canvas.instructure.com/api
  description: Instructure-hosted Canvas (canvas.instructure.com)
- url: https://{canvas_host}/api
  description: Any Canvas instance; Canvas is multi-tenant and self-hostable, so the host is the institution's Canvas domain.
  variables:
    canvas_host:
      default: canvas.instructure.com
      description: Your institution's Canvas hostname, e.g. school.instructure.com
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Temporary Enrollment Pairings
  x-resource: temporary_enrollment_pairings
  externalDocs:
    url: https://canvas.instructure.com/doc/api/temporary_enrollment_pairings.html
paths:
  /v1/accounts/{account_id}/temporary_enrollment_pairings:
    get:
      tags:
      - Temporary Enrollment Pairings
      operationId: list_temporary_enrollment_pairings
      summary: List temporary enrollment pairings
      description: Returns the list of temporary enrollment pairings for a root account.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: include_deleted
        in: query
        schema:
          type: boolean
        required: false
        description: If true, include deleted pairings in the response. Defaults to false.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemporaryEnrollmentPairing'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/temporary_enrollment_pairings.html
    post:
      tags:
      - Temporary Enrollment Pairings
      operationId: create_temporary_enrollment_pairing
      summary: Create Temporary Enrollment Pairing
      description: Create a Temporary Enrollment Pairing.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  description: The workflow state of the temporary enrollment pairing.
                ending_enrollment_state:
                  type: string
                  enum:
                  - deleted
                  - completed
                  - inactive
                  description: 'The ending enrollment state to be given to each associated enrollment

                    when the enrollment period has been reached. Defaults to "deleted" if no value is given.

                    Accepted values are "deleted", "completed", and "inactive".'
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                workflow_state:
                  type: string
                  description: The workflow state of the temporary enrollment pairing.
                ending_enrollment_state:
                  type: string
                  enum:
                  - deleted
                  - completed
                  - inactive
                  description: 'The ending enrollment state to be given to each associated enrollment

                    when the enrollment period has been reached. Defaults to "deleted" if no value is given.

                    Accepted values are "deleted", "completed", and "inactive".'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryEnrollmentPairing'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/temporary_enrollment_pairings.html
  /v1/accounts/{account_id}/temporary_enrollment_pairings/{id}:
    get:
      tags:
      - Temporary Enrollment Pairings
      operationId: get_single_temporary_enrollment_pairing
      summary: Get a single temporary enrollment pairing
      description: Returns the temporary enrollment pairing with the given id.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryEnrollmentPairing'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/temporary_enrollment_pairings.html
    delete:
      tags:
      - Temporary Enrollment Pairings
      operationId: delete_temporary_enrollment_pairing
      summary: Delete Temporary Enrollment Pairing
      description: Delete a temporary enrollment pairing
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryEnrollmentPairing'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/temporary_enrollment_pairings.html
  /v1/accounts/{account_id}/temporary_enrollment_pairings/new:
    get:
      tags:
      - Temporary Enrollment Pairings
      operationId: new_temporaryenrollmentpairing
      summary: New TemporaryEnrollmentPairing
      description: Initialize an unsaved Temporary Enrollment Pairing.
      parameters:
      - name: account_id
        in: path
        schema:
          type: string
        required: true
        description: ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryEnrollmentPairing'
      externalDocs:
        url: https://canvas.instructure.com/doc/api/temporary_enrollment_pairings.html
components:
  schemas:
    TemporaryEnrollmentPairing:
      type: object
      properties:
        id:
          type: integer
          example: 1
          description: the ID of the temporary enrollment pairing
        workflow_state:
          type: string
          example: active
          description: The current status of the temporary enrollment pairing
      description: A pairing unique to that enrollment period given to a recipient of that temporary enrollment.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Canvas OAuth2 access token sent as "Authorization: Bearer <token>". See https://canvas.instructure.com/doc/api/file.oauth.html'
    oauth2:
      type: oauth2
      description: Canvas OAuth2. See https://canvas.instructure.com/doc/api/file.oauth.html and https://canvas.instructure.com/doc/api/file.oauth_endpoints.html
      flows:
        authorizationCode:
          authorizationUrl: https://canvas.instructure.com/login/oauth2/auth
          tokenUrl: https://canvas.instructure.com/login/oauth2/token
          refreshUrl: https://canvas.instructure.com/login/oauth2/token
          scopes: {}
externalDocs:
  description: Canvas LMS REST API Documentation
  url: https://canvas.instructure.com/doc/api/
x-generated-from: https://canvas.instructure.com/doc/api/api-docs.json
x-provenance:
  method: derived
  derived_by: API Evangelist enrichment pipeline (Swagger 1.2 -> OpenAPI 3.1 conversion)
  source: openapi/_original/swagger-1.2/*.json (144 verbatim first-party Swagger 1.2 documents)
  source_url: https://canvas.instructure.com/doc/api/api-docs.json
  fetched: '2026-09-05'
  http_status: 200
